In [1]:
import pandas as pd

df = pd.read_csv(r"..\0.Data\flight_data_use.csv")
df

C:\Users\kimjh\AppData\Local\Temp\ipykernel_15952\936934471.py:3: DtypeWarning: Columns (8,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"..\0.Data\flight_data_use.csv")

,출발/도착,공항명,항공사,편명,도착지,일자,계획시간,예상시간,출발시간,구분,상태,지연원인,출발지,도착시간
0,출발,인천,에미레이트항공,EK323,두바이,20180201,00:05,23:50,00:27,여객,출발,NaN,인천,NaN
1,출발,인천,대한항공,KE473,말레,20180201,00:05,23:30,00:00,여객,출발,NaN,인천,NaN
2,출발,인천,말레이시아항공,MH039D,쿠알라룸푸르,20180201,00:10,20:30,20:49,여객,지연,정비-기체,인천,NaN
3,출발,인천,에티하드,EY873,아부다비,20180201,00:15,00:15,00:17,여객,출발,NaN,인천,NaN
4,출발,인천,타이에어아시아엑스,XJ703,돈므앙(방콕),20180201,00:20,00:20,00:22,여객,출발,NaN,인천,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5744614,출발,인천,싱가폴항공,SQ603,싱가포르,20180131,23:05,23:05,23:22,여객,출발,NaN,인천,NaN
5744615,출발,인천,대한항공,KE647,싱가포르,20180131,23:10,23:10,23:56,여객,출발,NaN,인천,NaN
5744616,출발,인천,중국남방항공,CZ316,베이징,20180131,23:20,23:20,23:26,여객,출발,NaN,인천,NaN
5744617,출발,인천,에어아시아 엑스,D7509,쿠알라룸푸르,20180131,23:20,23:20,23:32,여객,출발,NaN,인천,NaN
5744618,출발,인천,홍콩항공,HX623,홍콩,20180131,23:40,23:40,23:49,여객,출발,NaN,인천,NaN

# 1. 운항 상태 정리

In [2]:
print(df["상태"].value_counts())

도착    2482092
출발    2361607
지연     841406
취소      37690
착륙        932
회항        862
회황        224
Name: 상태, dtype: int64

In [3]:
# 회황 회항 오타 수정 및 정상운항 통합
df['상태'] = df['상태'].replace('회황', '회항')
df['상태'] = df['상태'].replace('도착', '정상운항')
df['상태'] = df['상태'].replace('출발', '정상운항')
df['상태'] = df['상태'].replace('착륙', '정상운항')

In [4]:
# 지연 데이터수
print('전체 데이터 수: ', len(df))
df_delay = df[df['상태']=='지연'].copy()
print('지연 수 : ', len(df_delay))
print('지연 비율 : ', (len(df_delay)/len(df))*100,"%")

df_cancel = df[df['상태']=='취소'].copy()
print('취소 수 : ', len(df_cancel))
print('취소 비율 : ', (len(df_cancel)/len(df))*100,"%")

df_return = df[df['상태']=='회항'].copy()
print('회항 수 : ', len(df_return))
print('회항 비율 : ', (len(df_return)/len(df))*100,"%")

전체 데이터 수:  5744619
지연 수 :  841406
지연 비율 :  14.646854734839682 %
취소 수 :  37690
취소 비율 :  0.656092249111734 %
회항 수 :  1086
회항 비율 :  0.018904647984487745 %

In [5]:
print(df["상태"].value_counts())

정상운항    4844631
지연       841406
취소        37690
회항         1086
Name: 상태, dtype: int64

In [6]:
df[df['상태']=='지연']

,출발/도착,공항명,항공사,편명,도착지,일자,계획시간,예상시간,출발시간,구분,상태,지연원인,출발지,도착시간
2,출발,인천,말레이시아항공,MH039D,쿠알라룸푸르,20180201,00:10,20:30,20:49,여객,지연,정비-기체,인천,NaN
16,출발,인천,팬퍼시픽항공,8Y705,칼리보,20180201,06:20,07:30,08:19,여객,지연,연결-항공기,인천,NaN
18,출발,인천,팬퍼시픽항공,8Y601,세부,20180201,06:20,07:30,08:29,여객,지연,연결-항공기,인천,NaN
76,출발,인천,에어서울,RS744,요나고,20180201,08:30,08:30,09:35,여객,지연,연결-항공기,인천,NaN
105,출발,인천,이스타항공,ZE931,홍콩,20180201,09:10,10:00,10:25,여객,지연,정비-기타,인천,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5744587,출발,인천,제주항공,7C2803,노이바이(하노이),20180131,21:15,21:15,22:18,여객,지연,연결-항공기,인천,NaN
5744588,출발,인천,제주항공,7C4703,떤 선녓(호찌민),20180131,21:25,21:25,22:29,여객,지연,연결-항공기,인천,NaN
5744596,출발,인천,산동항공,SC4708,연대,20180131,21:45,23:00,23:34,여객,지연,연결-항공기,인천,NaN
5744597,출발,인천,진에어,LJ023,클라크,20180131,21:45,22:30,23:02,여객,지연,연결-항공기,인천,NaN
5744604,출발,인천,제주항공,7C3404,사이판,20180131,22:10,22:35,23:11,여객,지연,연결-항공기,인천,NaN

# 시간 정리

In [7]:
def time_tream(time_val):
    if pd.isna(time_val) or time_val == 'nan' or time_val == '':
        return None
    
    time_str = str(time_val).replace(':','').strip()
    if time_str.isdigit():
        return time_str.zfill(4)
    
    return time_str

time_columns = ['계획시간','예상시간','출발시간','도착시간']
for col in time_columns:
    df[col] = df[col].apply(time_tream)

print(df[time_columns].head())

   계획시간  예상시간  출발시간  도착시간
0  0005  2350  0027  None
1  0005  2330  0000  None
2  0010  2030  2049  None
3  0015  0015  0017  None
4  0020  0020  0022  None

In [8]:
df

,출발/도착,공항명,항공사,편명,도착지,일자,계획시간,예상시간,출발시간,구분,상태,지연원인,출발지,도착시간
0,출발,인천,에미레이트항공,EK323,두바이,20180201,0005,2350,0027,여객,정상운항,NaN,인천,None
1,출발,인천,대한항공,KE473,말레,20180201,0005,2330,0000,여객,정상운항,NaN,인천,None
2,출발,인천,말레이시아항공,MH039D,쿠알라룸푸르,20180201,0010,2030,2049,여객,지연,정비-기체,인천,None
3,출발,인천,에티하드,EY873,아부다비,20180201,0015,0015,0017,여객,정상운항,NaN,인천,None
4,출발,인천,타이에어아시아엑스,XJ703,돈므앙(방콕),20180201,0020,0020,0022,여객,정상운항,NaN,인천,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5744614,출발,인천,싱가폴항공,SQ603,싱가포르,20180131,2305,2305,2322,여객,정상운항,NaN,인천,None
5744615,출발,인천,대한항공,KE647,싱가포르,20180131,2310,2310,2356,여객,정상운항,NaN,인천,None
5744616,출발,인천,중국남방항공,CZ316,베이징,20180131,2320,2320,2326,여객,정상운항,NaN,인천,None
5744617,출발,인천,에어아시아 엑스,D7509,쿠알라룸푸르,20180131,2320,2320,2332,여객,정상운항,NaN,인천,None
5744618,출발,인천,홍콩항공,HX623,홍콩,20180131,2340,2340,2349,여객,정상운항,NaN,인천,None

# 지연 시간

In [9]:
import pandas as pd
import numpy as np

# --- 1. '도착' 데이터 처리 ---
target_mask_arr = df['출발/도착'] == '도착'

# .astype(str)을 붙여서 확실하게 문자열로 변환한 뒤 zfill을 적용합니다.
s_time_arr = df.loc[target_mask_arr, '계획시간'].astype(str).str.zfill(4)
a_time_arr = df.loc[target_mask_arr, '도착시간'].astype(str).str.zfill(4) 

# 결측치 문자열 처리
s_time_arr = s_time_arr.replace(['nan', 'None', '000nan'], np.nan)
a_time_arr = a_time_arr.replace(['nan', 'None', '000nan'], np.nan)

# 변환 시 다시 한번 .astype(str)을 호출하여 .str 접근자 에러를 방지합니다.
sched_min_arr = s_time_arr.astype(str).str[:2].astype(float) * 60 + s_time_arr.astype(str).str[2:].astype(float)
actual_min_arr = a_time_arr.astype(str).str[:2].astype(float) * 60 + a_time_arr.astype(str).str[2:].astype(float)

# 결과 할당
df.loc[target_mask_arr, '지연_분'] = actual_min_arr - sched_min_arr


# --- 2. '출발' 데이터 처리 (동일한 로직 적용) ---
target_mask_dep = df['출발/도착'] == '출발'

s_time_dep = df.loc[target_mask_dep, '계획시간'].astype(str).str.zfill(4)
a_time_dep = df.loc[target_mask_dep, '출발시간'].astype(str).str.zfill(4)

s_time_dep = s_time_dep.replace(['nan', 'None', '000nan'], np.nan)
a_time_dep = a_time_dep.replace(['nan', 'None', '000nan'], np.nan)

sched_min_dep = s_time_dep.astype(str).str[:2].astype(float) * 60 + s_time_dep.astype(str).str[2:].astype(float)
actual_min_dep = a_time_dep.astype(str).str[:2].astype(float) * 60 + a_time_dep.astype(str).str[2:].astype(float)

df.loc[target_mask_dep, '지연_분'] = actual_min_dep - sched_min_dep

# 확인
print(df[['출발/도착', '계획시간', '출발시간', '지연_분']].head())

  출발/도착  계획시간  출발시간    지연_분
0    출발  0005  0027    22.0
1    출발  0005  0000    -5.0
2    출발  0010  2049  1239.0
3    출발  0015  0017     2.0
4    출발  0020  0022     2.0

In [10]:
df[df['상태']=='지연']

,출발/도착,공항명,항공사,편명,도착지,일자,계획시간,예상시간,출발시간,구분,상태,지연원인,출발지,도착시간,지연_분
2,출발,인천,말레이시아항공,MH039D,쿠알라룸푸르,20180201,0010,2030,2049,여객,지연,정비-기체,인천,None,1239.0
16,출발,인천,팬퍼시픽항공,8Y705,칼리보,20180201,0620,0730,0819,여객,지연,연결-항공기,인천,None,119.0
18,출발,인천,팬퍼시픽항공,8Y601,세부,20180201,0620,0730,0829,여객,지연,연결-항공기,인천,None,129.0
76,출발,인천,에어서울,RS744,요나고,20180201,0830,0830,0935,여객,지연,연결-항공기,인천,None,65.0
105,출발,인천,이스타항공,ZE931,홍콩,20180201,0910,1000,1025,여객,지연,정비-기타,인천,None,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5744587,출발,인천,제주항공,7C2803,노이바이(하노이),20180131,2115,2115,2218,여객,지연,연결-항공기,인천,None,63.0
5744588,출발,인천,제주항공,7C4703,떤 선녓(호찌민),20180131,2125,2125,2229,여객,지연,연결-항공기,인천,None,64.0
5744596,출발,인천,산동항공,SC4708,연대,20180131,2145,2300,2334,여객,지연,연결-항공기,인천,None,109.0
5744597,출발,인천,진에어,LJ023,클라크,20180131,2145,2230,2302,여객,지연,연결-항공기,인천,None,77.0
5744604,출발,인천,제주항공,7C3404,사이판,20180131,2210,2235,2311,여객,지연,연결-항공기,인천,None,61.0

In [12]:
result = df[(df['상태'] == '지연') & (df['출발/도착'] == '도착')]
result

,출발/도착,공항명,항공사,편명,도착지,일자,계획시간,예상시간,출발시간,구분,상태,지연원인,출발지,도착시간,지연_분
28232,도착,인천,피치항공,MM809,인천,20180501,0425,0638,None,여객,지연,NaN,하네다,0638,133.0
28258,도착,인천,비엣젯항공,VJ864,인천,20180501,0525,0713,None,여객,지연,NaN,떤 선녓(호찌민),0713,108.0
28295,도착,인천,제주항공,7C2406,인천,20180501,0650,0800,None,여객,지연,NaN,세부,0800,70.0
28331,도착,인천,가루다인도네시아,GA878,인천,20180501,0830,0945,None,여객,지연,NaN,자카르타(수카르노 하타),0945,75.0
28348,도착,인천,진에어,LJ004,인천,20180501,0930,1032,None,여객,지연,NaN,수안나폼(방콕),1032,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5729468,도착,무안,진에어,LJ258,무안,20241228,1235,1300,None,여객,지연,NaN,간사이,1338,63.0
5729469,도착,무안,제주항공,7C1832,무안,20241228,1310,1404,None,여객,지연,항공기 연결에 의한 지연,나가사키,1359,49.0
5729476,도착,무안,진에어,LJ748,무안,20241229,0435,0823,None,여객,지연,NaN,타이완 타오위안,0849,254.0
5729477,도착,무안,라오항공,QV983,무안,20241229,0700,0653,None,여객,지연,NaN,비엔티안,0622,-38.0
5729478,도착,무안,제주항공,7C2216,무안,20241229,0830,0911,None,여객,지연,항공교통흐름에 의한 지연,수안나폼(방콕),,-510.0

In [15]:
df.to_csv(r"..\0.Data\flight_data.csv")