In [4]:
import pandas as pd

df = pd.read_csv(r"..\0.Data\flight_data_use.csv")
df

C:\Users\kimjh\AppData\Local\Temp\ipykernel_2948\936934471.py:3: DtypeWarning: Columns (8,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"..\0.Data\flight_data_use.csv")

,출발/도착,공항명,항공사,편명,도착지,일자,계획시간,예상시간,출발시간,구분,상태,지연원인,출발지,도착시간
0,출발,인천,에미레이트항공,EK323,두바이,20180201,00:05,23:50,00:27,여객,출발,NaN,인천,NaN
1,출발,인천,대한항공,KE473,말레,20180201,00:05,23:30,00:00,여객,출발,NaN,인천,NaN
2,출발,인천,말레이시아항공,MH039D,쿠알라룸푸르,20180201,00:10,20:30,20:49,여객,지연,정비-기체,인천,NaN
3,출발,인천,에티하드,EY873,아부다비,20180201,00:15,00:15,00:17,여객,출발,NaN,인천,NaN
4,출발,인천,타이에어아시아엑스,XJ703,돈므앙(방콕),20180201,00:20,00:20,00:22,여객,출발,NaN,인천,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5744614,출발,인천,싱가폴항공,SQ603,싱가포르,20180131,23:05,23:05,23:22,여객,출발,NaN,인천,NaN
5744615,출발,인천,대한항공,KE647,싱가포르,20180131,23:10,23:10,23:56,여객,출발,NaN,인천,NaN
5744616,출발,인천,중국남방항공,CZ316,베이징,20180131,23:20,23:20,23:26,여객,출발,NaN,인천,NaN
5744617,출발,인천,에어아시아 엑스,D7509,쿠알라룸푸르,20180131,23:20,23:20,23:32,여객,출발,NaN,인천,NaN
5744618,출발,인천,홍콩항공,HX623,홍콩,20180131,23:40,23:40,23:49,여객,출발,NaN,인천,NaN

# 1. 운항 상태 정리

In [39]:
print(df["상태"].value_counts())

정상운항    4844631
지연       841406
취소        37690
회항         1086
Name: 상태, dtype: int64

In [33]:
# 회황 회항 오타 수정 및 정상운항 통합
df['상태'] = df['상태'].replace('회황', '회항')
df['상태'] = df['상태'].replace('도착', '정상운항')
df['상태'] = df['상태'].replace('출발', '정상운항')
df['상태'] = df['상태'].replace('착륙', '정상운항')

In [35]:
# 지연 데이터수
print('전체 데이터 수: ', len(df))
df_delay = df[df['상태']=='지연'].copy()
print('지연 수 : ', len(df_delay))
print('지연 비율 : ', (len(df_delay)/len(df))*100,"%")

df_cancel = df[df['상태']=='취소'].copy()
print('취소 수 : ', len(df_cancel))
print('취소 비율 : ', (len(df_cancel)/len(df))*100,"%")

df_return = df[df['상태']=='회항'].copy()
print('회항 수 : ', len(df_return))
print('회항 비율 : ', (len(df_return)/len(df))*100,"%")

전체 데이터 수:  5744619
지연 수 :  841406
지연 비율 :  14.646854734839682 %
취소 수 :  37690
취소 비율 :  0.656092249111734 %
회항 수 :  1086
회항 비율 :  0.018904647984487745 %

In [36]:
print(df["상태"].value_counts())

정상운항    4844631
지연       841406
취소        37690
회항         1086
Name: 상태, dtype: int64

In [44]:
df[df['상태']=='지연']

,출발/도착,공항명,항공사,편명,도착지,일자,계획시간,예상시간,출발시간,구분,상태,지연원인,출발지,도착시간
2,출발,인천,말레이시아항공,MH039D,쿠알라룸푸르,20180201,0010,2030,2049,여객,지연,정비-기체,인천,NaN
16,출발,인천,팬퍼시픽항공,8Y705,칼리보,20180201,0620,0730,0819,여객,지연,연결-항공기,인천,NaN
18,출발,인천,팬퍼시픽항공,8Y601,세부,20180201,0620,0730,0829,여객,지연,연결-항공기,인천,NaN
76,출발,인천,에어서울,RS744,요나고,20180201,0830,0830,0935,여객,지연,연결-항공기,인천,NaN
105,출발,인천,이스타항공,ZE931,홍콩,20180201,0910,1000,1025,여객,지연,정비-기타,인천,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5744587,출발,인천,제주항공,7C2803,노이바이(하노이),20180131,2115,2115,2218,여객,지연,연결-항공기,인천,NaN
5744588,출발,인천,제주항공,7C4703,떤 선녓(호찌민),20180131,2125,2125,2229,여객,지연,연결-항공기,인천,NaN
5744596,출발,인천,산동항공,SC4708,연대,20180131,2145,2300,2334,여객,지연,연결-항공기,인천,NaN
5744597,출발,인천,진에어,LJ023,클라크,20180131,2145,2230,2302,여객,지연,연결-항공기,인천,NaN
5744604,출발,인천,제주항공,7C3404,사이판,20180131,2210,2235,2311,여객,지연,연결-항공기,인천,NaN

# 시간 정리

In [41]:
def time_tream(time_val):
    if pd.isna(time_val) or time_val == 'nan' or time_val == '':
        return None
    
    time_str = str(time_val).replace(':','').strip()
    if time_str.isdigit():
        return time_str.zfill(4)
    
    return time_str

time_columns = ['계획시간','예상시간','출발시간']
for col in time_columns:
    df[col] = df[col].apply(time_tream)

print(df[time_columns].head())

   계획시간  예상시간  출발시간
0  0005  2350  0027
1  0005  2330  0000
2  0010  2030  2049
3  0015  0015  0017
4  0020  0020  0022

In [43]:
df

,출발/도착,공항명,항공사,편명,도착지,일자,계획시간,예상시간,출발시간,구분,상태,지연원인,출발지,도착시간
0,출발,인천,에미레이트항공,EK323,두바이,20180201,0005,2350,0027,여객,정상운항,NaN,인천,NaN
1,출발,인천,대한항공,KE473,말레,20180201,0005,2330,0000,여객,정상운항,NaN,인천,NaN
2,출발,인천,말레이시아항공,MH039D,쿠알라룸푸르,20180201,0010,2030,2049,여객,지연,정비-기체,인천,NaN
3,출발,인천,에티하드,EY873,아부다비,20180201,0015,0015,0017,여객,정상운항,NaN,인천,NaN
4,출발,인천,타이에어아시아엑스,XJ703,돈므앙(방콕),20180201,0020,0020,0022,여객,정상운항,NaN,인천,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5744614,출발,인천,싱가폴항공,SQ603,싱가포르,20180131,2305,2305,2322,여객,정상운항,NaN,인천,NaN
5744615,출발,인천,대한항공,KE647,싱가포르,20180131,2310,2310,2356,여객,정상운항,NaN,인천,NaN
5744616,출발,인천,중국남방항공,CZ316,베이징,20180131,2320,2320,2326,여객,정상운항,NaN,인천,NaN
5744617,출발,인천,에어아시아 엑스,D7509,쿠알라룸푸르,20180131,2320,2320,2332,여객,정상운항,NaN,인천,NaN
5744618,출발,인천,홍콩항공,HX623,홍콩,20180131,2340,2340,2349,여객,정상운항,NaN,인천,NaN

# 지연 시간

In [46]:
import pandas as pd
import numpy as np

# 1. 원본 데이터에서 결측치가 아닌 것들만 처리하기 위해 copy (권장)
# zfill(4)를 통해 505 -> 0505 형태로 보정
s_time = df['계획시간'].astype(str).str.zfill(4)
a_time = df['출발시간'].astype(str).str.zfill(4)

# 2. 'nan' 문자열로 변환된 결측치들을 진짜 NaN(None)으로 인식시키기
s_time = s_time.replace(['nan', 'None', '000nan'], np.nan)
a_time = a_time.replace(['nan', 'None', '000nan'], np.nan)

# 3. 시간과 분을 숫자로 변환 (결측치가 있으면 결과도 NaN이 됨)
sched_min = s_time.str[:2].astype(float) * 60 + s_time.str[2:].astype(float)
actual_min = a_time.str[:2].astype(float) * 60 + a_time.str[2:].astype(float)

# 4. 차이 계산
df['지연_분'] = actual_min - sched_min

# 5. 날짜 변경 보정 (값이 있는 것들에 대해서만 수행)
df.loc[df['지연_분'] < -1200, '지연_분'] += 1440
df.loc[df['지연_분'] > 1200, '지연_분'] -= 1440

# 6. 정수형으로 보고 싶다면 (결측치가 있으면 float 유지가 기본이지만, 확인용)
print(df[['계획시간', '출발시간', '지연_분']].head(10))

   계획시간  출발시간   지연_분
0  0005  0027   22.0
1  0005  0000   -5.0
2  0010  2049 -201.0
3  0015  0017    2.0
4  0020  0022    2.0
5  0025  0029    4.0
6  0030  0053   23.0
7  0040  0034   -6.0
8  0055  0141   46.0
9  0130  0156   26.0

In [47]:
df

,출발/도착,공항명,항공사,편명,도착지,일자,계획시간,예상시간,출발시간,구분,상태,지연원인,출발지,도착시간,지연_분
0,출발,인천,에미레이트항공,EK323,두바이,20180201,0005,2350,0027,여객,정상운항,NaN,인천,NaN,22.0
1,출발,인천,대한항공,KE473,말레,20180201,0005,2330,0000,여객,정상운항,NaN,인천,NaN,-5.0
2,출발,인천,말레이시아항공,MH039D,쿠알라룸푸르,20180201,0010,2030,2049,여객,지연,정비-기체,인천,NaN,-201.0
3,출발,인천,에티하드,EY873,아부다비,20180201,0015,0015,0017,여객,정상운항,NaN,인천,NaN,2.0
4,출발,인천,타이에어아시아엑스,XJ703,돈므앙(방콕),20180201,0020,0020,0022,여객,정상운항,NaN,인천,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5744614,출발,인천,싱가폴항공,SQ603,싱가포르,20180131,2305,2305,2322,여객,정상운항,NaN,인천,NaN,17.0
5744615,출발,인천,대한항공,KE647,싱가포르,20180131,2310,2310,2356,여객,정상운항,NaN,인천,NaN,46.0
5744616,출발,인천,중국남방항공,CZ316,베이징,20180131,2320,2320,2326,여객,정상운항,NaN,인천,NaN,6.0
5744617,출발,인천,에어아시아 엑스,D7509,쿠알라룸푸르,20180131,2320,2320,2332,여객,정상운항,NaN,인천,NaN,12.0
5744618,출발,인천,홍콩항공,HX623,홍콩,20180131,2340,2340,2349,여객,정상운항,NaN,인천,NaN,9.0