In [1]:
# import requests
# import pandas as pd
# import time

# BASE_URL = "https://api.odcloud.kr/api/FlightStatusListDTL/v1/getFlightStatusListDetail"
# SERVICE_KEY = "5d66bfa6f80f683c7d077861086e29a2c851260ad5a0ef79460431a3ccf7f814"

# PER_PAGE = 1000
# MAX_PAGE = 1500   # 예: 약 2년.

# all_rows = []

# for page in range(1, MAX_PAGE + 1):
#     params = {
#         "serviceKey": SERVICE_KEY,
#         "page": page,
#         "perPage": PER_PAGE,
#         "returnType": "JSON"
#     }

#     response = requests.get(BASE_URL, params=params)
#     response.raise_for_status()

#     json_data = response.json()
#     rows = json_data["data"]
#     all_rows.extend(rows)

#     print(f"✅ page {page} 수집 완료 ({len(rows)}건)")
#     time.sleep(0.2)  # 서버 배려

# # =========================
# # 결과 요약
# # =========================
# df = pd.DataFrame(all_rows)

# print(f"\n총 수집 행 수: {len(df)}")

# # 날짜 컬럼 처리
# df["flight_date"] = pd.to_datetime(df["FLIGHT_DATE"], format="%Y%m%d")

# start_date = df["flight_date"].min().date()
# end_date = df["flight_date"].max().date()

# print(f"📅 데이터 시작일: {start_date}")
# print(f"📅 데이터 종료일: {end_date}")

In [2]:
# # =========================
# # CSV 저장
# # =========================
# save_path = "flight_status_raw_20230430_20251213.csv"

# df.to_csv(save_path, index=False, encoding="utf-8-sig")

# print(f"✅ CSV 저장 완료: {save_path}")

In [3]:
import pandas as pd

csv_path = "flight_status_raw_20230430_20251213.csv"

df = pd.read_csv(csv_path)

print("✅ CSV 로드 완료")
print("행 수:", len(df))
df.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_17412\2402491823.py:5: DtypeWarning: Columns (6,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_path)

✅ CSV 로드 완료
행 수: 1500000

,AIRLINE_ENGLISH,AIRLINE_KOREAN,AIRPORT,AIR_FLN,ARRIVED_ENG,ARRIVED_KOR,BAGGAGE_CLAIM,BOARDING_ENG,BOARDING_KOR,CITY,...,FLIGHT_DATE,GATE,IO,LINE,LINE_CODE,RMK_ENG,RMK_KOR,STD,UFID,flight_date
0,JEJU AIR,제주항공,CJJ,7C802,CHEONGJU,청주,1.0,JEJU,제주,CJU,...,20230430,NaN,I,국내,D,ARRIVED,도착,1040,20230430CJJI7C802,2023-04-30
1,JEJU AIR,제주항공,CJJ,7C850,CHEONGJU,청주,1.0,JEJU,제주,CJU,...,20230430,NaN,I,국내,D,DELAY,지연,2320,20230430CJJI7C850,2023-04-30
2,JEJU AIR,제주항공,CJJ,7C852,CHEONGJU,청주,1.0,JEJU,제주,CJU,...,20230430,NaN,I,국내,D,ARRIVED,도착,920,20230430CJJI7C852,2023-04-30
3,JEJU AIR,제주항공,CJJ,7C854,CHEONGJU,청주,1.0,JEJU,제주,CJU,...,20230430,NaN,I,국내,D,ARRIVED,도착,1840,20230430CJJI7C854,2023-04-30
4,JEJU AIR,제주항공,CJJ,7C856,CHEONGJU,청주,1.0,JEJU,제주,CJU,...,20230430,NaN,I,국내,D,ARRIVED,도착,1810,20230430CJJI7C856,2023-04-30

In [4]:
# =====================================================
# 샘플 100행 추출 (상위 100행)
# =====================================================
sample_df = df.head(100)

# =====================================================
# 엑셀 저장
# =====================================================
sample_save_path = "flight_status_sample_100.xlsx"
sample_df.to_excel(sample_save_path, index=False)

print(f"✅ 샘플 100행 엑셀 저장 완료: {sample_save_path}")

✅ 샘플 100행 엑셀 저장 완료: flight_status_sample_100.xlsx

In [5]:
df["AIRLINE_KOREAN"].unique()

array(['제주항공', '대한항공', '진에어', '아시아나항공', '에어로케이항공', '티웨이항공', '하이에어',
       '플라이강원', '춘추항공', '에어부산', '캐세이퍼시픽항공', '중국길상항공(준야오항공)', '중국동방항공',
       '에어서울', '로얄에어필리핀', '스쿠트타이거항공', '홍콩익스프레스', '이스타항공', '중국국제항공',
       '중화항공', '중국남방항공', '상해항공', '일본항공', '전일본공수', '타이거에어 타이완', '몽골항공',
       '필리핀항공', '비엣젯항공', '베트남항공', '에어아시아엑스', '에바항공(장영항공)', '퍼시픽항공',
       '비엣트래블항공', '사천항공', '이즈니스항공', '룽에어', '훈누항공', '스타플라이어항공', '에어로 몽골리아',
       '프랑스항공', '델타항공', '길상항공(준야오)', '싱가포르항공', '필리핀에어아시아', nan, '스쿠트 항공',
       '벰부항공', '라오항공', '호주항공(콴타스항공)', '말레이시아항공', '알이탈리아항공', '서부항공',
       '사우디항공', '네덜란드항공', '하와이안항공', '북경수도항공', '스카이앙코르항공', '페덱스화물항공',
       '하문항공', '그레이터베이항공', '장시항공', '중국심천항공', '럭키항공', '비티엘항공', '중국연합항공',
       '루일리항공', '칭다오항공', '오케이항공', '원통화물항공', '에어캐나다', '젯스타 에어웨이즈', '말린도항공',
       '천진항공', '동하이항공', '인도항공', '캄보디아항공', '아에로멕시코', 'ITA항공', '에바항공',
       '에어인천', '피치항공', '카놋샤크항공', '세부퍼시픽항공', '에어아스타나항공', '파라타항공',
       '가루다인도네시아'], dtype=object)

In [6]:
df["AIRLINE_KOREAN"].value_counts()

대한항공           274941
아시아나항공         270658
제주항공           180582
진에어            176052
티웨이항공          160994
                ...
이즈니스항공              2
에어인천                1
말레이시아항공             1
호주항공(콴타스항공)         1
필리핀에어아시아            1
Name: AIRLINE_KOREAN, Length: 85, dtype: int64

In [7]:
df["RMK_KOR"].value_counts()

출발          730096
도착          723601
결항           11434
지연             736
회항             437
수속중            297
탑승중            289
탑승장 입장         154
탑승최종            44
탑승구 변경          21
마감예정            13
수하물 투입 중         8
수속중단             7
미정               4
사전결항             1
Name: RMK_KOR, dtype: int64

In [8]:
#타겟 변수(is_delay) 생성
def make_delay_label(x):
    if pd.isna(x):
        return 0
    if any(k in x for k in ["지연", "결항", "회항"]):
        return 1
    return 0

df["is_delay"] = df["RMK_KOR"].apply(make_delay_label)

In [9]:
df["is_delay"].value_counts()

0    1487392
1      12608
Name: is_delay, dtype: int64

In [10]:
boarding_list = (
    df["BOARDING_KOR"]
    .dropna()
    .sort_values()
    .unique()
)

len(boarding_list), boarding_list

(146,
 array(['가고시마', '계림/구이린', '고베/고베공항', '괌', '광저우', '광주', '구마모도/구마모토', '구이양',
        '군산', '나가사키', '나고야', '나고야/나고야/주부센트레아', '나고야/주부', '나고야/주부센트에어국제공항',
        '나트랑', '난징(남경)/난징', '난창', '난퉁/난통', '누르술탄', '닝보', '다낭', '달랏', '대구',
        '대련/다롄', '대용/장가계', '덴파사르', '델리', '도야마', '도쿄/나리타', '도쿄/도쿄/나리타',
        '도쿄/하네다', '도쿠시마', '로스앤젤레스', '리장', '마닐라', '마드리드', '마즈야마/마쓰야마',
        '마쯔모토/마쓰모또', '마카오', '마쿵/마공', '멕시코시티/멕시코시티', '모리오카/하나마키', '무안',
        '뮌헨', '방콕/돈므앙', '방콕/방콕/돈므앙', '방콕/방콕/수완나품', '방콕/수완나품', '밴쿠버',
        '뱅갈로/방갈로르', '베를린', '베이징(다싱)/다싱', '베이징(서우두)/서우두', '베이징/다싱',
        '베이징/서우두', '부산/김해', '비엔티안', '사이판', '산야/싼야', '삿포로', '상하이/푸동',
        '상하이/홍차오', '샌프란시스코', '서울/김포', '서울/성남', '세부', '쉬지아쭈앙(석가장)/스자좡',
        '슈투트가르트', '시드니', '시안', '시애틀', '심양/선양', '심천/선전', '싱가폴/싱가포르',
        '씨앰립/시엠립', '씨앰립/시엠립앙코르', '아부다비', '아부다비/바틴공항', '아사이까와/아사히카와', '알마티',
        '앵커리지', '양양', '엔시/쉬자핑', '여수', '연길/옌지', '오르도스', '오비히로', '오사카/간사이',
        '오사카/오사카/간사이', '오산', '오키나와', '우시(무석)/우시', '울란바토르', '울란바토르/칭기스칸',
        '울산', '원주', '위린', '이바라키', '인천', '자카르타/자카르타/수카르노하타', '장사', '장춘/창춘',
        '정주/정저우', '제남/지난', '제주', '제주/제동', '진주/사천', '청도/칭다오', '청두', '청주',
        '치앙마이', '카오슝/가오슝', '카티클란/고도프레도P.라모스', '칼리보', '코타키나발루', '쿠알라룸푸르',
        '클락필드/클라크필드', '키타큐슈', '킬리만자로', '타그빌라란/보홀(탁빌라란)', '타쉬켄트/타슈켄트',
        '타슈켄트', '타이난', '타이유안/타이위안', '타이쭝/타이중/칭촨강', '타이페이/쑹산', '타이페이/타오위안',
        '톈진', '토론토', '퉁치/황산', '파리/르부아제', '팡라오/보홀팡라오', '포항/포항경주',
        '푸꼭(푸국)/두옹당(푸?)', '푸꼭(푸국)/푸꾸옥', '푸저우', '프놈펜', '프랑크푸르트', '하노이',
        '하얼빈', '하이퐁', '항조우/항저우', '호치민/호찌민', '홍콩', '후쿠오카', '히로시마'],
       dtype=object))

In [11]:
boarding_counts = (
    df["BOARDING_KOR"]
    .value_counts(dropna=False)
    .reset_index()
)

boarding_counts.columns = ["BOARDING_KOR", "count"]
boarding_counts

    BOARDING_KOR   count
0             제주  478130
1          서울/김포  375396
2          부산/김해  243947
3             청주   62358
4             대구   51161
..           ...     ...
142        킬리만자로       1
143         마드리드       1
144       프랑크푸르트       1
145           델리       1
146          타이난       1

[147 rows x 2 columns]

In [12]:
boarding_counts.head(50)

      BOARDING_KOR   count
0               제주  478130
1            서울/김포  375396
2            부산/김해  243947
3               청주   62358
4               대구   51161
5               광주   36107
6          오사카/간사이   23322
7           도쿄/하네다   22849
8               인천   19596
9        타이페이/타오위안   15166
10          상하이/푸동   14074
11              여수   12982
12              울산   10977
13            후쿠오카   10804
14          도쿄/나리타   10160
15         상하이/홍차오    9218
16              다낭    8026
17             나트랑    6376
18         포항/포항경주    5701
19           진주/사천    5560
20              군산    4454
21         방콕/수완나품    4079
22         베이징/서우두    3982
23              홍콩    3931
24              원주    3825
25             삿포로    3446
26              세부    3325
27              무안    2915
28        싱가폴/싱가포르    2844
29         카오슝/가오슝    2679
30          대용/장가계    2505
31    베이징(서우두)/서우두    2289
32             하노이    2241
33         타이페이/쑹산    2142
34         호치민/호찌민    1931
35               괌    1918
36      클락필드/클라크필드    1735
37      울란바토르/칭기스칸    1637
38          청도/칭다오    1635
39            오키나와    1590
40          베이징/다싱    1577
41       난징(남경)/난징    1495
42         항조우/항저우    1469
43           연길/옌지    1463
44             마닐라    1099
45  나고야/나고야/주부센트레아    1011
46          나고야/주부     905
47  타그빌라란/보홀(탁빌라란)     903
48           심양/선양     791
49      푸꼭(푸국)/푸꾸옥     776

In [13]:
boarding_counts.tail(50)

         BOARDING_KOR  count
97              난퉁/난통     28
98                 리장     28
99                 위린     27
100         방콕/방콕/돈므앙     26
101              나가사키     26
102         타쉬켄트/타슈켄트     22
103                난창     20
104            계림/구이린     13
105               프놈펜     13
106              타슈켄트     10
107               나고야      8
108   카티클란/고도프레도P.라모스      8
109             제주/제동      8
110               알마티      8
111             마쿵/마공      7
112              가고시마      7
113               하이퐁      7
114            로스앤젤레스      6
115         모리오카/하나마키      6
116               밴쿠버      6
117               시애틀      5
118             울란바토르      5
119               NaN      4
120           고베/고베공항      4
121           씨앰립/시엠립      4
122               토론토      3
123            엔시/쉬자핑      3
124              도쿠시마      2
125          뱅갈로/방갈로르      2
126             서울/성남      2
127         마쯔모토/마쓰모또      2
128         아부다비/바틴공항      2
129       멕시코시티/멕시코시티      2
130              앵커리지      2
131           파리/르부아제      2
132              아부다비      2
133               시드니      2
134                뮌헨      1
135               베를린      1
136  자카르타/자카르타/수카르노하타      1
137              누르술탄      1
138                오산      1
139            샌프란시스코      1
140                청두      1
141            슈투트가르트      1
142             킬리만자로      1
143              마드리드      1
144            프랑크푸르트      1
145                델리      1
146               타이난      1

In [14]:
arrived_list = (
    df["ARRIVED_KOR"]
    .dropna()
    .sort_values()
    .unique()
)

len(arrived_list), arrived_list

(153,
 array(['가고시마', '계림/구이린', '고베/고베공항', '괌', '광저우', '광주', '구마모도/구마모토', '구이양',
        '군산', '기타', '나가사키', '나고야', '나고야/나고야/주부센트레아', '나고야/주부',
        '나고야/주부센트에어국제공항', '나트랑', '난징(남경)/난징', '난창', '난퉁/난통', '뉴어크', '닝보',
        '다낭', '달랏', '대구', '대련/다롄', '대용/장가계', '덴파사르', '델리', '도야마', '도쿄/나리타',
        '도쿄/도쿄/나리타', '도쿄/하네다', '도쿠시마', '두바이', '라이프치히', '런던/런던/히드로',
        '로스앤젤레스', '루앙프라방/루앙프라방', '리옹/리옹-사토라스', '리장', '마닐라', '마즈야마/마쓰야마',
        '마쯔모토/마쓰모또', '마카오', '마쿵/마공', '모리오카/하나마키', '몬테레이', '무룽', '무안',
        '뭄바이', '밀라노', '방콕/돈므앙', '방콕/방콕/돈므앙', '방콕/방콕/수완나품', '방콕/수완나품',
        '뱅갈로/방갈로르', '베이징(다싱)/다싱', '베이징(서우두)/서우두', '베이징/다싱', '베이징/서우두',
        '부산/김해', '브라티슬라바', '비엔티안', '사이판', '산야/싼야', '삿포로', '상하이/푸동',
        '상하이/홍차오', '샌호세/산호세', '서울/김포', '세부', '쉬지아쭈앙(석가장)/스자좡', '시안', '시애틀',
        '심양/선양', '심천/선전', '싱가폴/싱가포르', '씨앰립/시엠립', '씨앰립/시엠립앙코르', '아부다비',
        '아사이까와/아사히카와', '알마티', '앵커리지', '양양', '엔시/쉬자핑', '여수', '연길/옌지',
        '오르도스', '오비히로', '오사카/간사이', '오사카/오사카/간사이', '오산', '오키나와',
        '우시(무석)/우시', '울란바토르', '울란바토르/칭기스칸', '울산', '원주', '위린', '이바라키',
        '이스탄불', '인천', '장사', '장춘/창춘', '정주/정저우', '제남/지난', '제네바',
        '제벨알리알막툼/두바이/알막툼', '제주', '제주/제동', '진주/사천', '청도/칭다오', '청두', '청주',
        '치앙마이', '카오슝/가오슝', '카티클란/고도프레도P.라모스', '칼리보', '캘거리', '코타키나발루',
        '콜로라도스프링스/콜로라도스프링스', '쿠알라룸푸르', '클락필드/클라크필드', '키타큐슈',
        '타그빌라란/보홀(탁빌라란)', '타쉬켄트/타슈켄트', '타슈켄트', '타이유안/타이위안', '타이쭝/타이중/칭촨강',
        '타이페이/쑹산', '타이페이/타오위안', '태안/태안비행장', '톈진', '토론토', '퉁치/황산',
        '파리/르부아제', '팔레르모/팔코네보르셀리노', '팡라오/보홀팡라오', '포트워스/얼라이언스포트워스',
        '포항/포항경주', '푸꼭(푸국)/두옹당(푸?)', '푸꼭(푸국)/푸꾸옥', '푸저우', '프놈펜', '프랑크푸르트',
        '하노이', '하얼빈', '하이퐁', '항조우/항저우', '호치민/호찌민', '홍콩', '후쿠오카', '히로시마'],
       dtype=object))

In [15]:
arrived_counts = (
    df["ARRIVED_KOR"]
    .value_counts(dropna=False)
    .reset_index()
)

arrived_counts.columns = ["ARRIVED_KOR", "count"]
arrived_counts

    ARRIVED_KOR   count
0            제주  477776
1         서울/김포  374424
2         부산/김해  238634
3            청주   62193
4            대구   51257
..          ...     ...
149      프랑크푸르트       1
150          델리       1
151        이스탄불       1
152         밀라노       1
153         제네바       1

[154 rows x 2 columns]

In [16]:
# 상위 20개 도착지
arrived_counts.head(20)

   ARRIVED_KOR   count
0           제주  477776
1        서울/김포  374424
2        부산/김해  238634
3           청주   62193
4           대구   51257
5           광주   36142
6      오사카/간사이   23465
7       도쿄/하네다   22836
8           인천   22595
9    타이페이/타오위안   15434
10      상하이/푸동   14853
11          여수   12971
12        후쿠오카   11185
13          울산   10992
14      도쿄/나리타   10822
15     상하이/홍차오    9325
16          다낭    8082
17         나트랑    6340
18     포항/포항경주    5694
19       진주/사천    5549

In [17]:
# 하위 20개 도착지 (희귀)
arrived_counts.tail(20)

         ARRIVED_KOR  count
134          파리/르부아제      1
135           로스앤젤레스      1
136            라이프치히      1
137   포트워스/얼라이언스포트워스      1
138              두바이      1
139              캘거리      1
140       리옹/리옹-사토라스      1
141  제벨알리알막툼/두바이/알막툼      1
142             앵커리지      1
143             몬테레이      1
144              뭄바이      1
145               기타      1
146           브라티슬라바      1
147               오산      1
148         뱅갈로/방갈로르      1
149           프랑크푸르트      1
150               델리      1
151             이스탄불      1
152              밀라노      1
153              제네바      1

In [18]:
# 날짜 파생
df["flight_date"] = pd.to_datetime(df["FLIGHT_DATE"], format="%Y%m%d")
df["weekday"] = df["flight_date"].dt.weekday
df["month"] = df["flight_date"].dt.month

# 시간 파생
df["STD"] = df["STD"].astype(str)
df["hour"] = df["STD"].str.zfill(4).str[:2].astype(int)

In [19]:
#train / test 분리 (날짜 기준)

# 날짜 기준으로 정렬 (가장 중요)
df = df.sort_values("flight_date")

# 상위 80% 날짜를 학습용, 나머지 20%를 테스트용으로 사용
split_date = df["flight_date"].quantile(0.8)

# 학습 데이터 (과거)
train_df = df[df["flight_date"] <= split_date]

# 테스트 데이터 (최근)
test_df = df[df["flight_date"] > split_date]

In [20]:
# 수치형 변수 ↔ 종속변수 상관관계 (Point-Biserial)

from scipy.stats import pointbiserialr

num_cols = ["weekday", "month", "hour"]

corr_results = []

for col in num_cols:
    corr, pval = pointbiserialr(train_df[col], train_df["is_delay"])
    corr_results.append({
        "feature": col,
        "corr": corr,
        "abs_corr": abs(corr),
        "p_value": pval
    })

corr_df = pd.DataFrame(corr_results).sort_values("abs_corr", ascending=False)
corr_df

   feature      corr  abs_corr        p_value
2     hour  0.042697  0.042697   0.000000e+00
1    month -0.028761  0.028761  4.552006e-218
0  weekday -0.001921  0.001921   3.534897e-02

In [21]:
#범주형 변수 ↔ 종속변수 (Chi-square 검정)

from scipy.stats import chi2_contingency

cat_cols = [
    "AIRLINE_KOREAN",
    "BOARDING_KOR",
    "ARRIVED_KOR",
    "LINE",
    "IO"
]

chi_results = []

for col in cat_cols:
    contingency = pd.crosstab(train_df[col], train_df["is_delay"])
    chi2, p, _, _ = chi2_contingency(contingency)

    chi_results.append({
        "feature": col,
        "chi2": chi2,
        "p_value": p
    })

chi_df = pd.DataFrame(chi_results).sort_values("chi2", ascending=False)
chi_df

          feature         chi2        p_value
1    BOARDING_KOR  4405.044621   0.000000e+00
2     ARRIVED_KOR  4055.500838   0.000000e+00
0  AIRLINE_KOREAN  3489.020623   0.000000e+00
3            LINE  1241.743444  5.169068e-272
4              IO    58.768131   1.773914e-14

In [22]:
# 독립변수(X) / 종속변수(y) 분리

X_columns = [
    "weekday", "month", "hour",
    "AIRLINE_KOREAN", "BOARDING_KOR", "ARRIVED_KOR",
    "LINE", "IO"
]

X_train = train_df[X_columns]
y_train = train_df["is_delay"]

X_test = test_df[X_columns]
y_test = test_df["is_delay"]

In [23]:
# 소수 클래스(1)에 더 큰 가중치 부여 (클래스 불균형 대응)
class_weight = {0: 1, 1: 70}

In [24]:
#원핫인코딩
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# 범주형 / 수치형 분리
cat_cols = [
    "AIRLINE_KOREAN",
    "BOARDING_KOR",
    "ARRIVED_KOR",
    "LINE",
    "IO"
]

num_cols = ["weekday", "month", "hour"]

# 범주형 → 원핫 인코딩
# 수치형 → 그대로 사용
preprocessor = ColumnTransformer(
    transformers=[
        ("cat", OneHotEncoder(handle_unknown="ignore"), cat_cols),
        ("num", "passthrough", num_cols)
    ]
)

In [25]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression

#모델 정의 & 학습
model = Pipeline([
    ("prep", preprocessor),  # 전처리
    ("clf", LogisticRegression(
        max_iter=5000,
        class_weight=class_weight
    ))
])

In [26]:
# 학습 실행
model.fit(X_train, y_train)

KeyboardInterrupt:

In [ ]:
from sklearn.metrics import classification_report, roc_auc_score

# 최종 분류 결과
y_pred = model.predict(X_test)

# 예측 확률 (문제일 확률)
y_prob = model.predict_proba(X_test)[:, 1]

print(classification_report(y_test, y_pred))
print("ROC-AUC:", roc_auc_score(y_test, y_prob))

In [ ]:
from sklearn.metrics import average_precision_score

pr_auc = average_precision_score(y_test, y_prob)
print("PR-AUC:", pr_auc)

In [ ]:
# Threshold 실험
for t in [0.3, 0.4, 0.5, 0.6, 0.7, 0.8]:
    y_pred_t = (y_prob >= t).astype(int)
    print(f"\n===== Threshold = {t} =====")
    print(classification_report(y_test, y_pred_t))