In [3]:
import pandas as pd

csv_path = "flight_status_final_filtered.csv"

df = pd.read_csv(csv_path)

print("✅ CSV 로드 완료")
print("행 수:", len(df))
df.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_11360\1696381015.py:5: DtypeWarning: Columns (6,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_path)

✅ CSV 로드 완료
행 수: 1262522

,AIRLINE_ENGLISH,AIRLINE_KOREAN,AIRPORT,AIR_FLN,ARRIVED_ENG,ARRIVED_KOR,BAGGAGE_CLAIM,BOARDING_ENG,BOARDING_KOR,CITY,...,3시간신적설(cm),중하층운량(10분위),현상번호(국내식),지면온도(°C),풍속_ms,풍향_deg,시정_m,전운량_okta,1층 운고(FT)_결측여부,weather_datetime
0,AIR SEOUL,에어서울,GMP,RS901,JEJU,제주,NaN,GIMPO,김포,CJU,...,0.0,NaN,0.0,NaN,2.057776,240.0,10000.0,1.0,0.0,2023-04-30 06:00:00
1,JINAIR,진에어,GMP,LJ301,JEJU,제주,NaN,GIMPO,김포,CJU,...,0.0,NaN,0.0,NaN,2.057776,240.0,10000.0,1.0,0.0,2023-04-30 06:00:00
2,ASIANA AIRLINE,아시아나항공,GMP,OZ8937,JEJU,제주,NaN,GIMPO,김포,CJU,...,0.0,NaN,0.0,NaN,2.057776,240.0,10000.0,1.0,0.0,2023-04-30 06:00:00
3,EASTAR JET,이스타항공,GMP,ZE201,JEJU,제주,NaN,GIMPO,김포,CJU,...,0.0,NaN,0.0,NaN,2.057776,240.0,10000.0,1.0,0.0,2023-04-30 06:00:00
4,JINAIR,진에어,GMP,LJ303,JEJU,제주,NaN,GIMPO,김포,CJU,...,0.0,NaN,0.0,NaN,2.057776,240.0,10000.0,1.0,0.0,2023-04-30 06:00:00

In [4]:
# =====================================================
# 샘플 100행 추출 (상위 100행)
# =====================================================
sample_df = df.head(100)

# =====================================================
# 엑셀 저장
# =====================================================
sample_save_path = "flight_status_sample_100.xlsx"
sample_df.to_excel(sample_save_path, index=False)

print(f"✅ 샘플 100행 엑셀 저장 완료: {sample_save_path}")

✅ 샘플 100행 엑셀 저장 완료: flight_status_sample_100.xlsx

In [5]:
df["AIRLINE_KOREAN"].unique()

array(['에어서울', '진에어', '아시아나항공', '이스타항공', '제주항공', '티웨이항공', '대한항공', '에어부산',
       '비엣젯항공', '일본항공', '하이에어', '홍콩익스프레스', '캐세이퍼시픽항공', '전일본공수', '에어로케이항공',
       '플라이강원', '중국국제항공', '스쿠트타이거항공', '베트남항공', '춘추항공', '중국길상항공(준야오항공)',
       '중국동방항공', '상해항공', '중국남방항공', '몽골항공', '중화항공', '타이거에어 타이완', '필리핀항공',
       '로얄에어필리핀', '에어아시아엑스', '퍼시픽항공', '에바항공(장영항공)', '사천항공', '이즈니스항공',
       '훈누항공', '룽에어', '스타플라이어항공', '에어로 몽골리아', '프랑스항공', '델타항공',
       '길상항공(준야오)', '싱가포르항공', '필리핀에어아시아', nan, '스쿠트 항공', '라오항공', '벰부항공',
       '비엣트래블항공', '알이탈리아항공', '사우디항공', '서부항공', '네덜란드항공', '하와이안항공',
       '북경수도항공', '스카이앙코르항공', '페덱스화물항공', '하문항공', '그레이터베이항공', '장시항공',
       '중국심천항공', '럭키항공', '비티엘항공', '중국연합항공', '루일리항공', '칭다오항공', '오케이항공',
       '원통화물항공', '젯스타 에어웨이즈', '말린도항공', '천진항공', '동하이항공', '인도항공', '캄보디아항공',
       '아에로멕시코', 'ITA항공', '에바항공', '에어인천', '피치항공', '카놋샤크항공', '세부퍼시픽항공',
       '에어아스타나항공', '에어캐나다', '파라타항공', '가루다인도네시아'], dtype=object)

In [6]:
df["AIRLINE_KOREAN"].value_counts()

아시아나항공       255041
대한항공         244966
제주항공         157849
진에어          153502
에어부산         123371
              ...
필리핀에어아시아          1
아에로멕시코            1
에어아스타나항공          1
젯스타 에어웨이즈         1
이즈니스항공            1
Name: AIRLINE_KOREAN, Length: 83, dtype: int64

In [7]:
df["RMK_KOR"].value_counts()

출발          698258
도착          526517
결항           10687
지연             589
회항             336
수속중            289
탑승중            285
탑승장 입장         154
탑승최종            44
탑승구 변경          21
마감예정            13
수하물 투입 중         8
수속중단             7
미정               4
사전결항             1
Name: RMK_KOR, dtype: int64

In [8]:
#타겟 변수(is_delay) 생성
def make_delay_label(x):
    if pd.isna(x):
        return 0
    if any(k in x for k in ["지연", "결항", "회항"]):
        return 1
    return 0

df["is_delay"] = df["RMK_KOR"].apply(make_delay_label)

In [9]:
df["is_delay"].value_counts()

0    1250909
1      11613
Name: is_delay, dtype: int64

In [10]:
boarding_list = (
    df["BOARDING_KOR"]
    .dropna()
    .sort_values()
    .unique()
)

len(boarding_list), boarding_list

(14,
 array(['광주', '군산', '김포', '김해', '무안', '사천', '양양', '여수', '울산', '원주', '인천',
        '제주', '청주', '포항경주'], dtype=object))

In [11]:
boarding_counts = (
    df["BOARDING_KOR"]
    .value_counts(dropna=False)
    .reset_index()
)

boarding_counts.columns = ["BOARDING_KOR", "count"]
boarding_counts

   BOARDING_KOR   count
0            제주  478130
1            김포  375396
2            김해  243947
3            청주   62358
4            광주   36107
5            인천   19596
6            여수   12982
7            울산   10977
8          포항경주    5701
9            사천    5560
10           군산    4454
11           원주    3825
12           무안    2915
13           양양     574

In [12]:
boarding_counts.head(50)

   BOARDING_KOR   count
0            제주  478130
1            김포  375396
2            김해  243947
3            청주   62358
4            광주   36107
5            인천   19596
6            여수   12982
7            울산   10977
8          포항경주    5701
9            사천    5560
10           군산    4454
11           원주    3825
12           무안    2915
13           양양     574

In [13]:
boarding_counts.tail(50)

   BOARDING_KOR   count
0            제주  478130
1            김포  375396
2            김해  243947
3            청주   62358
4            광주   36107
5            인천   19596
6            여수   12982
7            울산   10977
8          포항경주    5701
9            사천    5560
10           군산    4454
11           원주    3825
12           무안    2915
13           양양     574

In [14]:
arrived_list = (
    df["ARRIVED_KOR"]
    .dropna()
    .sort_values()
    .unique()
)

len(arrived_list), arrived_list

(149,
 array(['가고시마', '계림/구이린', '고베/고베공항', '괌', '광저우', '광주', '구마모도/구마모토', '구이양',
        '군산', '기타', '나가사키', '나고야', '나고야/나고야/주부센트레아', '나고야/주부',
        '나고야/주부센트에어국제공항', '나트랑', '난징(남경)/난징', '난창', '난퉁/난통', '뉴어크', '닝보',
        '다낭', '달랏', '대구', '대련/다롄', '대용/장가계', '덴파사르', '델리', '도야마', '도쿄/나리타',
        '도쿄/도쿄/나리타', '도쿄/하네다', '도쿠시마', '두바이', '라이프치히', '런던/런던/히드로',
        '로스앤젤레스', '루앙프라방/루앙프라방', '리옹/리옹-사토라스', '리장', '마닐라', '마즈야마/마쓰야마',
        '마쯔모토/마쓰모또', '마카오', '마쿵/마공', '모리오카/하나마키', '몬테레이', '무룽', '무안',
        '뭄바이', '밀라노', '방콕/돈므앙', '방콕/방콕/돈므앙', '방콕/방콕/수완나품', '방콕/수완나품',
        '뱅갈로/방갈로르', '베이징(다싱)/다싱', '베이징(서우두)/서우두', '베이징/다싱', '베이징/서우두',
        '부산/김해', '브라티슬라바', '비엔티안', '사이판', '산야/싼야', '삿포로', '상하이/푸동',
        '상하이/홍차오', '샌호세/산호세', '서울/김포', '세부', '쉬지아쭈앙(석가장)/스자좡', '시안', '시애틀',
        '심양/선양', '심천/선전', '싱가폴/싱가포르', '씨앰립/시엠립', '씨앰립/시엠립앙코르', '아부다비',
        '아사이까와/아사히카와', '알마티', '앵커리지', '양양', '여수', '연길/옌지', '오르도스', '오비히로',
        '오사카/간사이', '오사카/오사카/간사이', '오키나와', '우시(무석)/우시', '울란바토르',
        '울란바토르/칭기스칸', '울산', '원주', '위린', '이바라키', '이스탄불', '인천', '장사',
        '장춘/창춘', '정주/정저우', '제남/지난', '제네바', '제벨알리알막툼/두바이/알막툼', '제주',
        '제주/제동', '진주/사천', '청도/칭다오', '청두', '청주', '치앙마이', '카오슝/가오슝',
        '카티클란/고도프레도P.라모스', '칼리보', '캘거리', '코타키나발루', '쿠알라룸푸르', '클락필드/클라크필드',
        '키타큐슈', '타그빌라란/보홀(탁빌라란)', '타쉬켄트/타슈켄트', '타슈켄트', '타이유안/타이위안',
        '타이쭝/타이중/칭촨강', '타이페이/쑹산', '타이페이/타오위안', '태안/태안비행장', '톈진', '토론토',
        '퉁치/황산', '파리/르부아제', '팔레르모/팔코네보르셀리노', '팡라오/보홀팡라오', '포트워스/얼라이언스포트워스',
        '포항/포항경주', '푸꼭(푸국)/두옹당(푸?)', '푸꼭(푸국)/푸꾸옥', '푸저우', '프놈펜', '프랑크푸르트',
        '하노이', '하얼빈', '항조우/항저우', '호치민/호찌민', '홍콩', '후쿠오카', '히로시마'],
       dtype=object))

In [15]:
arrived_counts = (
    df["ARRIVED_KOR"]
    .value_counts(dropna=False)
    .reset_index()
)

arrived_counts.columns = ["ARRIVED_KOR", "count"]
arrived_counts

         ARRIVED_KOR   count
0                 제주  419272
1              서울/김포  323931
2              부산/김해  155073
3                 청주   48406
4                 대구   39019
..               ...     ...
145              밀라노       1
146       리옹/리옹-사토라스       1
147  제벨알리알막툼/두바이/알막툼       1
148              뭄바이       1
149              제네바       1

[150 rows x 2 columns]

In [16]:
# 상위 20개 도착지
arrived_counts.head(20)

   ARRIVED_KOR   count
0           제주  419272
1        서울/김포  323931
2        부산/김해  155073
3           청주   48406
4           대구   39019
5           광주   36142
6       도쿄/하네다   22836
7      오사카/간사이   21835
8           인천   18149
9       상하이/푸동   13983
10   타이페이/타오위안   13392
11          여수   12971
12          울산   10990
13        후쿠오카   10108
14      도쿄/나리타    9869
15     상하이/홍차오    9325
16          다낭    6819
17     포항/포항경주    5694
18       진주/사천    5549
19         나트랑    5524

In [17]:
# 하위 20개 도착지 (희귀)
arrived_counts.tail(20)

         ARRIVED_KOR  count
130    팔레르모/팔코네보르셀리노      1
131         태안/태안비행장      1
132          파리/르부아제      1
133             앵커리지      1
134   포트워스/얼라이언스포트워스      1
135           브라티슬라바      1
136            라이프치히      1
137             이스탄불      1
138               델리      1
139           프랑크푸르트      1
140         뱅갈로/방갈로르      1
141               기타      1
142              두바이      1
143             몬테레이      1
144              캘거리      1
145              밀라노      1
146       리옹/리옹-사토라스      1
147  제벨알리알막툼/두바이/알막툼      1
148              뭄바이      1
149              제네바      1

In [18]:
# 날짜 파생
df["flight_date"] = pd.to_datetime(df["FLIGHT_DATE"], format="%Y%m%d")
df["weekday"] = df["flight_date"].dt.weekday
df["month"] = df["flight_date"].dt.month

# 시간 파생
df["STD"] = df["STD"].astype(str)
df["hour"] = df["STD"].str.zfill(4).str[:2].astype(int)

In [19]:
#train / test 분리 (날짜 기준)

# 날짜 기준으로 정렬 (가장 중요)
df = df.sort_values("flight_date")

# 상위 80% 날짜를 학습용, 나머지 20%를 테스트용으로 사용
split_date = df["flight_date"].quantile(0.8)

# 학습 데이터 (과거)
train_df = df[df["flight_date"] <= split_date]

# 테스트 데이터 (최근)
test_df = df[df["flight_date"] > split_date]

In [20]:
# 수치형 변수 ↔ 종속변수 상관관계 (Point-Biserial)

from scipy.stats import pointbiserialr

num_cols = ["weekday", "month", "hour"]

corr_results = []

for col in num_cols:
    corr, pval = pointbiserialr(train_df[col], train_df["is_delay"])
    corr_results.append({
        "feature": col,
        "corr": corr,
        "abs_corr": abs(corr),
        "p_value": pval
    })

corr_df = pd.DataFrame(corr_results).sort_values("abs_corr", ascending=False)
corr_df

   feature      corr  abs_corr        p_value
2     hour  0.043756  0.043756   0.000000e+00
1    month -0.031009  0.031009  1.933736e-213
0  weekday -0.003084  0.003084   1.933041e-03

In [21]:
#범주형 변수 ↔ 종속변수 (Chi-square 검정)

from scipy.stats import chi2_contingency

cat_cols = [
    "AIRLINE_KOREAN",
    "BOARDING_KOR",
    "ARRIVED_KOR",
    "LINE",
    "IO"
]

chi_results = []

for col in cat_cols:
    contingency = pd.crosstab(train_df[col], train_df["is_delay"])
    chi2, p, _, _ = chi2_contingency(contingency)

    chi_results.append({
        "feature": col,
        "chi2": chi2,
        "p_value": p
    })

chi_df = pd.DataFrame(chi_results).sort_values("chi2", ascending=False)
chi_df

          feature         chi2        p_value
2     ARRIVED_KOR  3495.042770   0.000000e+00
1    BOARDING_KOR  2921.059564   0.000000e+00
0  AIRLINE_KOREAN  2311.449680   0.000000e+00
3            LINE   651.865682  8.777342e-144
4              IO   238.725957   7.456014e-54

In [22]:
# 독립변수(X) / 종속변수(y) 분리

X_columns = [
    "weekday", "month", "hour",
    "AIRLINE_KOREAN", "BOARDING_KOR", "ARRIVED_KOR",
    "LINE", "IO"
]

X_train = train_df[X_columns]
y_train = train_df["is_delay"]

X_test = test_df[X_columns]
y_test = test_df["is_delay"]

In [23]:
# 소수 클래스(1)에 더 큰 가중치 부여 (클래스 불균형 대응)
class_weight = {0: 1, 1: 70}

In [24]:
#원핫인코딩
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# 범주형 / 수치형 분리
cat_cols = [
    "AIRLINE_KOREAN",
    "BOARDING_KOR",
    "ARRIVED_KOR",
    "LINE",
    "IO"
]

num_cols = ["weekday", "month", "hour"]

# 범주형 → 원핫 인코딩
# 수치형 → 그대로 사용
preprocessor = ColumnTransformer(
    transformers=[
        ("cat", OneHotEncoder(handle_unknown="ignore"), cat_cols),
        ("num", "passthrough", num_cols)
    ]
)

In [25]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression

#모델 정의 & 학습
model = Pipeline([
    ("prep", preprocessor),  # 전처리
    ("clf", LogisticRegression(
        max_iter=5000,
        class_weight=class_weight
    ))
])

In [ ]:
# 학습 실행
model.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import classification_report, roc_auc_score

# 최종 분류 결과
y_pred = model.predict(X_test)

# 예측 확률 (문제일 확률)
y_prob = model.predict_proba(X_test)[:, 1]

print(classification_report(y_test, y_pred))
print("ROC-AUC:", roc_auc_score(y_test, y_prob))

In [ ]:
from sklearn.metrics import average_precision_score

pr_auc = average_precision_score(y_test, y_prob)
print("PR-AUC:", pr_auc)

In [ ]:
# Threshold 실험
for t in [0.3, 0.4, 0.5, 0.6, 0.7, 0.8]:
    y_pred_t = (y_prob >= t).astype(int)
    print(f"\n===== Threshold = {t} =====")
    print(classification_report(y_test, y_pred_t))