In [1]:
import pandas as pd

csv_path = "new_flight_data.csv"

df = pd.read_csv(csv_path)

print("✅ CSV 로드 완료")
print("행 수:", len(df))
df.head()

✅ CSV 로드 완료
행 수: 5744619

,Unnamed: 0,출발/도착,공항명,항공사,편명,도착지,일자,계획시간,예상시간,출발시간,구분,상태,지연원인,출발지,도착시간,지연_분
0,0,출발,인천,에미레이트항공,EK323,두바이,20180201,5.0,2350.0,27.0,여객,정상운항,NaN,인천,NaN,22.0
1,1,출발,인천,대한항공,KE473,말레,20180201,5.0,2330.0,0.0,여객,정상운항,NaN,인천,NaN,-5.0
2,2,출발,인천,말레이시아항공,MH039D,쿠알라룸푸르,20180201,10.0,2030.0,2049.0,여객,지연,정비-기체,인천,NaN,1239.0
3,3,출발,인천,에티하드,EY873,아부다비,20180201,15.0,15.0,17.0,여객,정상운항,NaN,인천,NaN,2.0
4,4,출발,인천,타이에어아시아엑스,XJ703,돈므앙(방콕),20180201,20.0,20.0,22.0,여객,정상운항,NaN,인천,NaN,2.0

In [2]:
# =====================================================
# 샘플 100행 추출 (상위 100행)
# =====================================================
sample_df = df.head(100)

# =====================================================
# 엑셀 저장
# =====================================================
sample_save_path = "flight_status_sample_100.xlsx"
sample_df.to_excel(sample_save_path, index=False)

print(f"✅ 샘플 100행 엑셀 저장 완료: {sample_save_path}")

✅ 샘플 100행 엑셀 저장 완료: flight_status_sample_100.xlsx

In [4]:
#타겟 변수(is_delay) 생성
def make_delay_label(x):
    if pd.isna(x):
        return 0
    if any(k in x for k in ["지연", "취소", "회항"]):
        return 1
    return 0

df["is_delay"] = df["상태"].apply(make_delay_label)

In [5]:
df["is_delay"].value_counts()

0    4864437
1     880182
Name: is_delay, dtype: int64

In [7]:
boarding_list = (
    df["출발지"]
    .dropna()
    .sort_values()
    .unique()
)

len(boarding_list), boarding_list

(414,
 array(['DOVER', 'EIELSON AFB', '가고시마', '가목사', '가오슝', '간사이', '강릉', '계림',
        '고마쓰', '고베', '고테버그', '골드코스트', '공역', '과달라하라', '괌', '광저우', '광주',
        '구마모토', '구시로', '군산', '글래스고', '기타규슈', '김포', '김해', '까띠끌란',
        '깜라인(나트랑)', '껀터', '꾸이양', '나가사키', '나고야', '나우루', '난닝(남령)', '난디',
        '난창', '난통', '남경', '내슈빌', '노보시비르스크 톨바초보', '노이바이(하노이)',
        '누르술탄 나자르바예프', '뉴어크 리버티', '뉴욕', '뉴캐슬', '니가타', '닝보', '다낭', '다윈',
        '다카', '다카마쓰', '다통', '달라스', '달랏', '담만', '대구', '대련', '댈러스',
        '덴파사(응우라 라이)', '델리', '도모데도보(모스크바)', '도야마', '도쿄', '도쿄/나리타', '도쿠시마',
        '도하', '돈므앙(방콕)', '돗토리', '두바이', '두브로브니크', '두샨베', '디트로이트',
        '떤 선녓(호찌민)', '라스베이거스', '라이프치히', '라호르', '란저우', '람스테인', '런던히드로',
        '로마', '로스앤젤레스', '로얄 에어포스 페어포드', '루앙프라방', '루이즈빌', '르 부르제', '리가',
        '리버사이드 공군기지', '리스본', '리에주', '리장', '린이', '마나도', '마나스', '마닐라',
        '마드리드', '마르세유', '마스트리히', '마쓰모또', '마쓰야마', '마이애미', '마카오', '마틸다 라자팍사',
        '말라가', '말레', '맥코드공군기지', '메만베쓰', '멕시코시티', '멜버른', '멤피스', '목단강',
        '몬테레이', '몬트리올', '무스카트', '무안', '물루즈', '뭄바이', '뮌헨', '미니애폴리스', '미야자키',
        '미야코', '미자와', '미하일 코갈리차누', '민스크', '밀든홀', '밀라노', '바그람', '바레인',
        '바르샤바', '바르셀로나', '바스라', '바이코누루', '바탐', '반다라나이케', '반다르스리', '발릭파판',
        '발킬로드', '밴쿠버', '번돈', '베니스', '베를린', '베오그라드 니콜라 테슬라', '베이루트', '베이징',
        '베이징 다싱', '보리스필', '보스턴', '보잉필드', '볼로냐', '볼티모어', '부다페스트', '부얀트 우카',
        '부쿠레슈티', '뷰포트', '브누코보(모스크바)', '브라티슬라바', '브뤼셀', '브리즈번', '블라고베셴스크',
        '블라디보스톡', '비엔나', '비엔티안', '빅스 아미 에어필드 (포트 블리스)', '사가', '사라고사',
        '사무이', '사이판', '사천', '사할린', '산야', '산티아고 콤포스텔라', '산호세', '삿포로',
        '상트페테르부르크', '상해/홍차우', '샌프란시스코', '샤먼 가오치', '샤지', '서배너', '서울', '석가장',
        '선전(심천)', '세부', '센다이', '셀레타', '셰레메티예보(모스크바)', '소피아', '솔트레이크시티',
        '송산', '쇼나이', '수난 슈오팡', '수라바야', '수안나폼(방콕)', '술탄 압둘 아지즈 샤', '쉼켄트',
        '슈투트가르트', '스탠스테드', '스톡홀름', '시드니', '시라하마', '시모지시마', '시안', '시안 무당산',
        '시애틀', '시즈오카', '시카고', '시카고 록퍼드', '시하누크빌', '신시내티', '심양', '싱가포르',
        '씨엠립', '씨엠립 앙코르', '아다나', '아디스아바바', '아바칸', '아발론', '아부다비', '아사히카와',
        '아시가바트', '아오모리', '아키타', '아타튀르크', '아테네', '알 바틴', '알마티', '알막툼',
        '알아인', '알제', '암만', '암스테르담', '앙카라', '애틀랜타', '앤더슨비행장', '앤드루스 합동기지',
        '앵커리지', '야쿠츠크', '양곤', '양양', '양저우', '어저우화후', '에드몬톤', '에버렛',
        '엔스 쉬자핑', '엔테베', '엘멘도르프', '여수', '연길', '연대', '예레반', '옌청',
        '오르도스 에진 호로', '오르샤', '오마하', '오비히로', '오산', '오스코다', '오스트라바', '오슬로',
        '오이타', '오카야마', '오클랜드', '오키나와', '올비아', '요나고', '요코다', '우루무치', '우베',
        '우이산', '우타파오', '우한', '울란우드', '울랴봅스크', '울산', '워싱톤', '원산', '원저우',
        '원주', '위린 위양', '위해', '이루마비행장', '이르쿠츠크', '이바라키', '이스탄불', '이스트 미들',
        '이슬라마바드', '이시가키', '이와쿠니', '이즈모', '이창', '인천', '인천*', '인촨(은천)',
        '자그레브', '자카르타(수카르노 하타)', '장가계', '장춘', '정저우', '제네바', '제다', '제동',
        '제슈프 야시온카', '제주', '조지아', '조호바루', '주바', '지난', '창사(장사)', '창저우', '천진',
        '청도', '청두 티안푸', '청두(성도)', '청주', '첸나이', '충칭', '충하이보아오', '취리히',
        '치앙라이', '치앙마이', '칭기즈 칸(신 울란바토르)', '카데나', '카라간다', '카불', '카사블랑카',
        '카이로', '카잔', '카트만두', '카트비', '칸다하르', '칼리보', '캘거리', '캘거타', '케언스',
        '켐페고다', '코나', '코로르', '코목스', '코타키나발루', '코페르니쿠스 공항 브로츠와프', '코펜하겐',
        '콜럼버스', '쿠알라룸푸르', '쿠웨이트', '쿤밍', '퀘벡 장 르사주', '퀼른', '크라비',
        '크라스노야르스크', '크라이스트', '클라크', '킹 칼리드', '타슈켄트', '타이난', '타이완 타오위안',
        '타이중', '태원', '테트보로', '테해란', '테헤란', '텔아비브', '토론토', '툴루즈', '트레비스',
        '티주아나', '파리', '파야레바', '팍세', '판보로', '팔레르모', '팡라로', '페낭', '페어뱅크스',
        '페트로파블롭스크-캄챠츠키', '평양', '포트모르즈비..', '포틀랜드', '포항경주', '푸껫', '푸꾸옥',
        '푸동', '푸바이', '푸에르토 프린세사', '푸자이라', '푸저우(복주)', '푸캇', '프놈펜', '프라하',
        '프랑크푸르트', '프리스티나 국제공항 아뎀 자샤리', '하나마키', '하네다', '하바로프스크', '하얼빈',
        '하이커우', '하코다테', '할림 페르다나쿠수마', '함부르크', '항저우', '허페이', '헌츠빌',
        '헤이다르 알리예프', '헬싱키', '호놀룰루', '호스토멜', '홍콩', '화롄', '황산', '후잔트',
        '후쿠오카', '후텐마', '후허하오터', '훈련공역', '훈련공역2', '휴스턴', '히로시마', '히캄공군기지'],
       dtype=object))

In [8]:
boarding_counts = (
    df["출발지"]
    .value_counts(dropna=False)
    .reset_index()
)

boarding_counts.columns = ["출발지", "count"]
boarding_counts

        출발지    count
0        제주  1311452
1        김포  1043109
2        인천  1003250
3        김해   533134
4        청주   148897
..      ...      ...
410     테헤란        1
411  인촨(은천)        1
412    발릭파판        1
413     두샨베        1
414     뉴캐슬        1

[415 rows x 2 columns]

In [9]:
arrived_list = (
    df["출발지"]
    .dropna()
    .sort_values()
    .unique()
)

len(arrived_list), arrived_list

(414,
 array(['DOVER', 'EIELSON AFB', '가고시마', '가목사', '가오슝', '간사이', '강릉', '계림',
        '고마쓰', '고베', '고테버그', '골드코스트', '공역', '과달라하라', '괌', '광저우', '광주',
        '구마모토', '구시로', '군산', '글래스고', '기타규슈', '김포', '김해', '까띠끌란',
        '깜라인(나트랑)', '껀터', '꾸이양', '나가사키', '나고야', '나우루', '난닝(남령)', '난디',
        '난창', '난통', '남경', '내슈빌', '노보시비르스크 톨바초보', '노이바이(하노이)',
        '누르술탄 나자르바예프', '뉴어크 리버티', '뉴욕', '뉴캐슬', '니가타', '닝보', '다낭', '다윈',
        '다카', '다카마쓰', '다통', '달라스', '달랏', '담만', '대구', '대련', '댈러스',
        '덴파사(응우라 라이)', '델리', '도모데도보(모스크바)', '도야마', '도쿄', '도쿄/나리타', '도쿠시마',
        '도하', '돈므앙(방콕)', '돗토리', '두바이', '두브로브니크', '두샨베', '디트로이트',
        '떤 선녓(호찌민)', '라스베이거스', '라이프치히', '라호르', '란저우', '람스테인', '런던히드로',
        '로마', '로스앤젤레스', '로얄 에어포스 페어포드', '루앙프라방', '루이즈빌', '르 부르제', '리가',
        '리버사이드 공군기지', '리스본', '리에주', '리장', '린이', '마나도', '마나스', '마닐라',
        '마드리드', '마르세유', '마스트리히', '마쓰모또', '마쓰야마', '마이애미', '마카오', '마틸다 라자팍사',
        '말라가', '말레', '맥코드공군기지', '메만베쓰', '멕시코시티', '멜버른', '멤피스', '목단강',
        '몬테레이', '몬트리올', '무스카트', '무안', '물루즈', '뭄바이', '뮌헨', '미니애폴리스', '미야자키',
        '미야코', '미자와', '미하일 코갈리차누', '민스크', '밀든홀', '밀라노', '바그람', '바레인',
        '바르샤바', '바르셀로나', '바스라', '바이코누루', '바탐', '반다라나이케', '반다르스리', '발릭파판',
        '발킬로드', '밴쿠버', '번돈', '베니스', '베를린', '베오그라드 니콜라 테슬라', '베이루트', '베이징',
        '베이징 다싱', '보리스필', '보스턴', '보잉필드', '볼로냐', '볼티모어', '부다페스트', '부얀트 우카',
        '부쿠레슈티', '뷰포트', '브누코보(모스크바)', '브라티슬라바', '브뤼셀', '브리즈번', '블라고베셴스크',
        '블라디보스톡', '비엔나', '비엔티안', '빅스 아미 에어필드 (포트 블리스)', '사가', '사라고사',
        '사무이', '사이판', '사천', '사할린', '산야', '산티아고 콤포스텔라', '산호세', '삿포로',
        '상트페테르부르크', '상해/홍차우', '샌프란시스코', '샤먼 가오치', '샤지', '서배너', '서울', '석가장',
        '선전(심천)', '세부', '센다이', '셀레타', '셰레메티예보(모스크바)', '소피아', '솔트레이크시티',
        '송산', '쇼나이', '수난 슈오팡', '수라바야', '수안나폼(방콕)', '술탄 압둘 아지즈 샤', '쉼켄트',
        '슈투트가르트', '스탠스테드', '스톡홀름', '시드니', '시라하마', '시모지시마', '시안', '시안 무당산',
        '시애틀', '시즈오카', '시카고', '시카고 록퍼드', '시하누크빌', '신시내티', '심양', '싱가포르',
        '씨엠립', '씨엠립 앙코르', '아다나', '아디스아바바', '아바칸', '아발론', '아부다비', '아사히카와',
        '아시가바트', '아오모리', '아키타', '아타튀르크', '아테네', '알 바틴', '알마티', '알막툼',
        '알아인', '알제', '암만', '암스테르담', '앙카라', '애틀랜타', '앤더슨비행장', '앤드루스 합동기지',
        '앵커리지', '야쿠츠크', '양곤', '양양', '양저우', '어저우화후', '에드몬톤', '에버렛',
        '엔스 쉬자핑', '엔테베', '엘멘도르프', '여수', '연길', '연대', '예레반', '옌청',
        '오르도스 에진 호로', '오르샤', '오마하', '오비히로', '오산', '오스코다', '오스트라바', '오슬로',
        '오이타', '오카야마', '오클랜드', '오키나와', '올비아', '요나고', '요코다', '우루무치', '우베',
        '우이산', '우타파오', '우한', '울란우드', '울랴봅스크', '울산', '워싱톤', '원산', '원저우',
        '원주', '위린 위양', '위해', '이루마비행장', '이르쿠츠크', '이바라키', '이스탄불', '이스트 미들',
        '이슬라마바드', '이시가키', '이와쿠니', '이즈모', '이창', '인천', '인천*', '인촨(은천)',
        '자그레브', '자카르타(수카르노 하타)', '장가계', '장춘', '정저우', '제네바', '제다', '제동',
        '제슈프 야시온카', '제주', '조지아', '조호바루', '주바', '지난', '창사(장사)', '창저우', '천진',
        '청도', '청두 티안푸', '청두(성도)', '청주', '첸나이', '충칭', '충하이보아오', '취리히',
        '치앙라이', '치앙마이', '칭기즈 칸(신 울란바토르)', '카데나', '카라간다', '카불', '카사블랑카',
        '카이로', '카잔', '카트만두', '카트비', '칸다하르', '칼리보', '캘거리', '캘거타', '케언스',
        '켐페고다', '코나', '코로르', '코목스', '코타키나발루', '코페르니쿠스 공항 브로츠와프', '코펜하겐',
        '콜럼버스', '쿠알라룸푸르', '쿠웨이트', '쿤밍', '퀘벡 장 르사주', '퀼른', '크라비',
        '크라스노야르스크', '크라이스트', '클라크', '킹 칼리드', '타슈켄트', '타이난', '타이완 타오위안',
        '타이중', '태원', '테트보로', '테해란', '테헤란', '텔아비브', '토론토', '툴루즈', '트레비스',
        '티주아나', '파리', '파야레바', '팍세', '판보로', '팔레르모', '팡라로', '페낭', '페어뱅크스',
        '페트로파블롭스크-캄챠츠키', '평양', '포트모르즈비..', '포틀랜드', '포항경주', '푸껫', '푸꾸옥',
        '푸동', '푸바이', '푸에르토 프린세사', '푸자이라', '푸저우(복주)', '푸캇', '프놈펜', '프라하',
        '프랑크푸르트', '프리스티나 국제공항 아뎀 자샤리', '하나마키', '하네다', '하바로프스크', '하얼빈',
        '하이커우', '하코다테', '할림 페르다나쿠수마', '함부르크', '항저우', '허페이', '헌츠빌',
        '헤이다르 알리예프', '헬싱키', '호놀룰루', '호스토멜', '홍콩', '화롄', '황산', '후잔트',
        '후쿠오카', '후텐마', '후허하오터', '훈련공역', '훈련공역2', '휴스턴', '히로시마', '히캄공군기지'],
       dtype=object))

In [ ]:
arrived_counts = (
    df["출발지"]
    .value_counts(dropna=False)
    .reset_index()
)

arrived_counts.columns = ["출발지", "count"]
arrived_counts

In [ ]:
# 상위 20개 도착지
arrived_counts.head(20)

In [ ]:
# 하위 20개 도착지 (희귀)
arrived_counts.tail(20)

In [ ]:
# 날짜 파생
df["flight_date"] = pd.to_datetime(df["FLIGHT_DATE"], format="%Y%m%d")
df["weekday"] = df["flight_date"].dt.weekday
df["month"] = df["flight_date"].dt.month

# 시간 파생
df["STD"] = df["STD"].astype(str)
df["hour"] = df["STD"].str.zfill(4).str[:2].astype(int)

In [ ]:
#train / test 분리 (날짜 기준)

# 날짜 기준으로 정렬 (가장 중요)
df = df.sort_values("flight_date")

# 상위 80% 날짜를 학습용, 나머지 20%를 테스트용으로 사용
split_date = df["flight_date"].quantile(0.8)

# 학습 데이터 (과거)
train_df = df[df["flight_date"] <= split_date]

# 테스트 데이터 (최근)
test_df = df[df["flight_date"] > split_date]

In [ ]:
# 수치형 변수 ↔ 종속변수 상관관계 (Point-Biserial)

from scipy.stats import pointbiserialr

num_cols = ["weekday", "month", "hour"]

corr_results = []

for col in num_cols:
    corr, pval = pointbiserialr(train_df[col], train_df["is_delay"])
    corr_results.append({
        "feature": col,
        "corr": corr,
        "abs_corr": abs(corr),
        "p_value": pval
    })

corr_df = pd.DataFrame(corr_results).sort_values("abs_corr", ascending=False)
corr_df

In [ ]:
#범주형 변수 ↔ 종속변수 (Chi-square 검정)

from scipy.stats import chi2_contingency

cat_cols = [
    "AIRLINE_KOREAN",
    "BOARDING_KOR",
    "ARRIVED_KOR",
    "LINE",
    "IO"
]

chi_results = []

for col in cat_cols:
    contingency = pd.crosstab(train_df[col], train_df["is_delay"])
    chi2, p, _, _ = chi2_contingency(contingency)

    chi_results.append({
        "feature": col,
        "chi2": chi2,
        "p_value": p
    })

chi_df = pd.DataFrame(chi_results).sort_values("chi2", ascending=False)
chi_df

In [ ]:
# 독립변수(X) / 종속변수(y) 분리

X_columns = [
    "weekday", "month", "hour",
    "AIRLINE_KOREAN", "BOARDING_KOR", "ARRIVED_KOR",
    "LINE", "IO"
]

X_train = train_df[X_columns]
y_train = train_df["is_delay"]

X_test = test_df[X_columns]
y_test = test_df["is_delay"]

In [ ]:
# 소수 클래스(1)에 더 큰 가중치 부여 (클래스 불균형 대응)
class_weight = {0: 1, 1: 70}

In [ ]:
#원핫인코딩
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# 범주형 / 수치형 분리
cat_cols = [
    "AIRLINE_KOREAN",
    "BOARDING_KOR",
    "ARRIVED_KOR",
    "LINE",
    "IO"
]

num_cols = ["weekday", "month", "hour"]

# 범주형 → 원핫 인코딩
# 수치형 → 그대로 사용
preprocessor = ColumnTransformer(
    transformers=[
        ("cat", OneHotEncoder(handle_unknown="ignore"), cat_cols),
        ("num", "passthrough", num_cols)
    ]
)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression

#모델 정의 & 학습
model = Pipeline([
    ("prep", preprocessor),  # 전처리
    ("clf", LogisticRegression(
        max_iter=5000,
        class_weight=class_weight
    ))
])

In [ ]:
# 학습 실행
model.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import classification_report, roc_auc_score

# 최종 분류 결과
y_pred = model.predict(X_test)

# 예측 확률 (문제일 확률)
y_prob = model.predict_proba(X_test)[:, 1]

print(classification_report(y_test, y_pred))
print("ROC-AUC:", roc_auc_score(y_test, y_prob))

In [ ]:
from sklearn.metrics import average_precision_score

pr_auc = average_precision_score(y_test, y_prob)
print("PR-AUC:", pr_auc)

In [ ]:
# Threshold 실험
for t in [0.3, 0.4, 0.5, 0.6, 0.7, 0.8]:
    y_pred_t = (y_prob >= t).astype(int)
    print(f"\n===== Threshold = {t} =====")
    print(classification_report(y_test, y_pred_t))