In [1]:
import pandas as pd

csv_path = "flight_status_raw_20230430_20251213.csv"

df = pd.read_csv(csv_path)

print("âœ… CSV ë¡œë“œ ì™„ë£Œ")
print("í–‰ ìˆ˜:", len(df))
df.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_860\2402491823.py:5: DtypeWarning: Columns (6,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_path)

âœ… CSV ë¡œë“œ ì™„ë£Œ
í–‰ ìˆ˜: 1500000

,AIRLINE_ENGLISH,AIRLINE_KOREAN,AIRPORT,AIR_FLN,ARRIVED_ENG,ARRIVED_KOR,BAGGAGE_CLAIM,BOARDING_ENG,BOARDING_KOR,CITY,...,FLIGHT_DATE,GATE,IO,LINE,LINE_CODE,RMK_ENG,RMK_KOR,STD,UFID,flight_date
0,JEJU AIR,ì œì£¼í•­ê³µ,CJJ,7C802,CHEONGJU,ì²­ì£¼,1.0,JEJU,ì œì£¼,CJU,...,20230430,NaN,I,êµ­ë‚´,D,ARRIVED,ë„ì°©,1040,20230430CJJI7C802,2023-04-30
1,JEJU AIR,ì œì£¼í•­ê³µ,CJJ,7C850,CHEONGJU,ì²­ì£¼,1.0,JEJU,ì œì£¼,CJU,...,20230430,NaN,I,êµ­ë‚´,D,DELAY,ì§€ì—°,2320,20230430CJJI7C850,2023-04-30
2,JEJU AIR,ì œì£¼í•­ê³µ,CJJ,7C852,CHEONGJU,ì²­ì£¼,1.0,JEJU,ì œì£¼,CJU,...,20230430,NaN,I,êµ­ë‚´,D,ARRIVED,ë„ì°©,920,20230430CJJI7C852,2023-04-30
3,JEJU AIR,ì œì£¼í•­ê³µ,CJJ,7C854,CHEONGJU,ì²­ì£¼,1.0,JEJU,ì œì£¼,CJU,...,20230430,NaN,I,êµ­ë‚´,D,ARRIVED,ë„ì°©,1840,20230430CJJI7C854,2023-04-30
4,JEJU AIR,ì œì£¼í•­ê³µ,CJJ,7C856,CHEONGJU,ì²­ì£¼,1.0,JEJU,ì œì£¼,CJU,...,20230430,NaN,I,êµ­ë‚´,D,ARRIVED,ë„ì°©,1810,20230430CJJI7C856,2023-04-30

In [2]:
df["AIRLINE_KOREAN"].unique()

array(['ì œì£¼í•­ê³µ', 'ëŒ€í•œí•­ê³µ', 'ì§„ì—ì–´', 'ì•„ì‹œì•„ë‚˜í•­ê³µ', 'ì—ì–´ë¡œì¼€ì´í•­ê³µ', 'í‹°ì›¨ì´í•­ê³µ', 'í•˜ì´ì—ì–´',
       'í”Œë¼ì´ê°•ì›', 'ì¶˜ì¶”í•­ê³µ', 'ì—ì–´ë¶€ì‚°', 'ìºì„¸ì´í¼ì‹œí”½í•­ê³µ', 'ì¤‘êµ­ê¸¸ìƒí•­ê³µ(ì¤€ì•¼ì˜¤í•­ê³µ)', 'ì¤‘êµ­ë™ë°©í•­ê³µ',
       'ì—ì–´ì„œìš¸', 'ë¡œì–„ì—ì–´í•„ë¦¬í•€', 'ìŠ¤ì¿ íŠ¸íƒ€ì´ê±°í•­ê³µ', 'í™ì½©ìµìŠ¤í”„ë ˆìŠ¤', 'ì´ìŠ¤íƒ€í•­ê³µ', 'ì¤‘êµ­êµ­ì œí•­ê³µ',
       'ì¤‘í™”í•­ê³µ', 'ì¤‘êµ­ë‚¨ë°©í•­ê³µ', 'ìƒí•´í•­ê³µ', 'ì¼ë³¸í•­ê³µ', 'ì „ì¼ë³¸ê³µìˆ˜', 'íƒ€ì´ê±°ì—ì–´ íƒ€ì´ì™„', 'ëª½ê³¨í•­ê³µ',
       'í•„ë¦¬í•€í•­ê³µ', 'ë¹„ì—£ì ¯í•­ê³µ', 'ë² íŠ¸ë‚¨í•­ê³µ', 'ì—ì–´ì•„ì‹œì•„ì—‘ìŠ¤', 'ì—ë°”í•­ê³µ(ì¥ì˜í•­ê³µ)', 'í¼ì‹œí”½í•­ê³µ',
       'ë¹„ì—£íŠ¸ë˜ë¸”í•­ê³µ', 'ì‚¬ì²œí•­ê³µ', 'ì´ì¦ˆë‹ˆìŠ¤í•­ê³µ', 'ë£½ì—ì–´', 'í›ˆëˆ„í•­ê³µ', 'ìŠ¤íƒ€í”Œë¼ì´ì–´í•­ê³µ', 'ì—ì–´ë¡œ ëª½ê³¨ë¦¬ì•„',
       'í”„ë‘ìŠ¤í•­ê³µ', 'ë¸íƒ€í•­ê³µ', 'ê¸¸ìƒí•­ê³µ(ì¤€ì•¼ì˜¤)', 'ì‹±ê°€í¬ë¥´í•­ê³µ', 'í•„ë¦¬í•€ì—ì–´ì•„ì‹œì•„', nan, 'ìŠ¤ì¿ íŠ¸ í•­ê³µ',
       'ë²°ë¶€í•­ê³µ', 'ë¼ì˜¤í•­ê³µ', 'í˜¸ì£¼í•­ê³µ(ì½´íƒ€ìŠ¤í•­ê³µ)', 'ë§ë ˆì´ì‹œì•„í•­ê³µ', 'ì•Œì´íƒˆë¦¬ì•„í•­ê³µ', 'ì„œë¶€í•­ê³µ',
       'ì‚¬ìš°ë””í•­ê³µ', 'ë„¤ëœë€ë“œí•­ê³µ', 'í•˜ì™€ì´ì•ˆí•­ê³µ', 'ë¶ê²½ìˆ˜ë„í•­ê³µ', 'ìŠ¤ì¹´ì´ì•™ì½”ë¥´í•­ê³µ', 'í˜ë±ìŠ¤í™”ë¬¼í•­ê³µ',
       'í•˜ë¬¸í•­ê³µ', 'ê·¸ë ˆì´í„°ë² ì´í•­ê³µ', 'ì¥ì‹œí•­ê³µ', 'ì¤‘êµ­ì‹¬ì²œí•­ê³µ', 'ëŸ­í‚¤í•­ê³µ', 'ë¹„í‹°ì—˜í•­ê³µ', 'ì¤‘êµ­ì—°í•©í•­ê³µ',
       'ë£¨ì¼ë¦¬í•­ê³µ', 'ì¹­ë‹¤ì˜¤í•­ê³µ', 'ì˜¤ì¼€ì´í•­ê³µ', 'ì›í†µí™”ë¬¼í•­ê³µ', 'ì—ì–´ìºë‚˜ë‹¤', 'ì ¯ìŠ¤íƒ€ ì—ì–´ì›¨ì´ì¦ˆ', 'ë§ë¦°ë„í•­ê³µ',
       'ì²œì§„í•­ê³µ', 'ë™í•˜ì´í•­ê³µ', 'ì¸ë„í•­ê³µ', 'ìº„ë³´ë””ì•„í•­ê³µ', 'ì•„ì—ë¡œë©•ì‹œì½”', 'ITAí•­ê³µ', 'ì—ë°”í•­ê³µ',
       'ì—ì–´ì¸ì²œ', 'í”¼ì¹˜í•­ê³µ', 'ì¹´ë†‹ìƒ¤í¬í•­ê³µ', 'ì„¸ë¶€í¼ì‹œí”½í•­ê³µ', 'ì—ì–´ì•„ìŠ¤íƒ€ë‚˜í•­ê³µ', 'íŒŒë¼íƒ€í•­ê³µ',
       'ê°€ë£¨ë‹¤ì¸ë„ë„¤ì‹œì•„'], dtype=object)

In [3]:
df["AIRLINE_KOREAN"].value_counts()

ëŒ€í•œí•­ê³µ           274941
ì•„ì‹œì•„ë‚˜í•­ê³µ         270658
ì œì£¼í•­ê³µ           180582
ì§„ì—ì–´            176052
í‹°ì›¨ì´í•­ê³µ          160994
                ...
ì´ì¦ˆë‹ˆìŠ¤í•­ê³µ              2
ì—ì–´ì¸ì²œ                1
ë§ë ˆì´ì‹œì•„í•­ê³µ             1
í˜¸ì£¼í•­ê³µ(ì½´íƒ€ìŠ¤í•­ê³µ)         1
í•„ë¦¬í•€ì—ì–´ì•„ì‹œì•„            1
Name: AIRLINE_KOREAN, Length: 85, dtype: int64

In [4]:
df["RMK_KOR"].value_counts()

ì¶œë°œ          730096
ë„ì°©          723601
ê²°í•­           11434
ì§€ì—°             736
íšŒí•­             437
ìˆ˜ì†ì¤‘            297
íƒ‘ìŠ¹ì¤‘            289
íƒ‘ìŠ¹ì¥ ì…ì¥         154
íƒ‘ìŠ¹ìµœì¢…            44
íƒ‘ìŠ¹êµ¬ ë³€ê²½          21
ë§ˆê°ì˜ˆì •            13
ìˆ˜í•˜ë¬¼ íˆ¬ì… ì¤‘         8
ìˆ˜ì†ì¤‘ë‹¨             7
ë¯¸ì •               4
ì‚¬ì „ê²°í•­             1
Name: RMK_KOR, dtype: int64

In [5]:
#íƒ€ê²Ÿ ë³€ìˆ˜(is_delay) ìƒì„±
def make_delay_label(x):
    if pd.isna(x):
        return 0
    if any(k in x for k in ["ì§€ì—°", "ê²°í•­", "íšŒí•­"]):
        return 1
    return 0

df["is_delay"] = df["RMK_KOR"].apply(make_delay_label)

In [6]:
df["is_delay"].value_counts()

0    1487392
1      12608
Name: is_delay, dtype: int64

In [7]:
import sys
!{sys.executable} -m pip install xlsxwriter

Requirement already satisfied: xlsxwriter in c:\users\admin\anaconda3\envs\4vector\lib\site-packages (3.2.9)

In [8]:
# =====================================================
# âœˆï¸ í•­ê³µì‚¬ë³„ ë¹„í–‰ íšŸìˆ˜
# =====================================================
airline_counts = (
    df["AIRLINE_KOREAN"]
    .value_counts(dropna=False)
    .reset_index()
)
airline_counts.columns = ["AIRLINE_KOREAN", "total_flights"]

print("\nâœˆï¸ í•­ê³µì‚¬ë³„ ë¹„í–‰ íšŸìˆ˜")
print(airline_counts)

âœˆï¸ í•­ê³µì‚¬ë³„ ë¹„í–‰ íšŸìˆ˜
   AIRLINE_KOREAN  total_flights
0            ëŒ€í•œí•­ê³µ         274941
1          ì•„ì‹œì•„ë‚˜í•­ê³µ         270658
2            ì œì£¼í•­ê³µ         180582
3             ì§„ì—ì–´         176052
4           í‹°ì›¨ì´í•­ê³µ         160994
..            ...            ...
81          ë¹„í‹°ì—˜í•­ê³µ              2
82        ë§ë ˆì´ì‹œì•„í•­ê³µ              1
83           ì—ì–´ì¸ì²œ              1
84    í˜¸ì£¼í•­ê³µ(ì½´íƒ€ìŠ¤í•­ê³µ)              1
85       í•„ë¦¬í•€ì—ì–´ì•„ì‹œì•„              1

[86 rows x 2 columns]

In [9]:
import pandas as pd

# =====================================================
# 2ï¸âƒ£ BOARDING_KOR ì „ì²˜ë¦¬ (êµ­ë‚´ ì¶œë°œì§€ë§Œ + í‘œì¤€í™”)
# =====================================================

allowed_boarding_raw = [
    "ì œì£¼",
    "ì„œìš¸/ê¹€í¬",
    "ë¶€ì‚°/ê¹€í•´",
    "ì²­ì£¼",
    "ëŒ€êµ¬",
    "ê´‘ì£¼",
    "ì¸ì²œ",
    "ì—¬ìˆ˜",
    "ìš¸ì‚°",
    "í¬í•­/í¬í•­ê²½ì£¼",
    "ì§„ì£¼/ì‚¬ì²œ",
    "êµ°ì‚°",
    "ì›ì£¼",
    "ë¬´ì•ˆ",
    "ì–‘ì–‘"
]

boarding_replace_map = {
    "ì„œìš¸/ê¹€í¬": "ê¹€í¬",
    "ë¶€ì‚°/ê¹€í•´": "ê¹€í•´",
    "í¬í•­/í¬í•­ê²½ì£¼": "í¬í•­ê²½ì£¼",
    "ì§„ì£¼/ì‚¬ì²œ": "ì‚¬ì²œ"
}

before_rows = len(df)
df = df[df["BOARDING_KOR"].isin(allowed_boarding_raw)].copy()
after_rows = len(df)

print(f"âœ‚ï¸ ì¶œë°œì§€ í•„í„°ë§: {before_rows} â†’ {after_rows}")

df["BOARDING_KOR"] = df["BOARDING_KOR"].replace(boarding_replace_map)

print("âœ… BOARDING_KOR ì „ì²˜ë¦¬ ì™„ë£Œ")
print(df["BOARDING_KOR"].value_counts())

# =====================================================
# 3ï¸âƒ£ íƒ€ê²Ÿ ë³€ìˆ˜ ìƒì„± (ì§€ì—° ì—¬ë¶€)
# =====================================================
def make_delay_label(x):
    if pd.isna(x):
        return 0
    if any(k in x for k in ["ì§€ì—°", "ê²°í•­", "íšŒí•­"]):
        return 1
    return 0

df["is_delay"] = df["RMK_KOR"].apply(make_delay_label)

print("\nğŸ“Œ ì§€ì—° ë¶„í¬")
print(df["is_delay"].value_counts())

# =====================================================
# 4ï¸âƒ£ ë‚ ì§œ íŒŒìƒ
# =====================================================
df["flight_date"] = pd.to_datetime(df["FLIGHT_DATE"], format="%Y%m%d")

# =====================================================
# 5ï¸âƒ£ ì¶œë°œì§€ / ë„ì°©ì§€ ë‹¨ìˆœ ì¹´ìš´íŠ¸
# =====================================================
boarding_counts = (
    df["BOARDING_KOR"]
    .value_counts(dropna=False)
    .reset_index()
)
boarding_counts.columns = ["BOARDING_KOR", "total_flights"]

arrived_counts = (
    df["ARRIVED_KOR"]
    .value_counts(dropna=False)
    .reset_index()
)
arrived_counts.columns = ["ARRIVED_KOR", "total_flights"]

# =====================================================
# ğŸ”¹ 5-1ï¸âƒ£ í•­ê³µì‚¬ë³„ ë¹„í–‰ íšŸìˆ˜ (ì‹ ê·œ)
# =====================================================
airline_counts = (
    df["AIRLINE_KOREAN"]
    .value_counts(dropna=False)
    .reset_index()
)
airline_counts.columns = ["AIRLINE_KOREAN", "total_flights"]

# =====================================================
# âœ‚ï¸ ë„ì°©ì§€ ë¹„í–‰ íšŸìˆ˜ 24íšŒ ì´ìƒë§Œ í•„í„°ë§
# =====================================================
arrived_counts_24plus = arrived_counts[arrived_counts["total_flights"] >= 24].copy()

print("\nğŸ“ ë„ì°©ì§€ ë¹„í–‰ íšŸìˆ˜ 24íšŒ ì´ìƒ")
print(arrived_counts_24plus)

# =====================================================
# 6ï¸âƒ£ ì¶œë°œì§€ ê¸°ì¤€ ì§€ì—° ìš”ì•½
# =====================================================
boarding_summary = (
    df
    .groupby("BOARDING_KOR")["is_delay"]
    .agg(
        total_flights="count",
        delay_count="sum",
        delay_rate="mean"
    )
    .reset_index()
    .sort_values("delay_count", ascending=False)
)

# =====================================================
# 7ï¸âƒ£ ë„ì°©ì§€ ê¸°ì¤€ ì§€ì—° ìš”ì•½
# =====================================================
arrived_summary = (
    df
    .groupby("ARRIVED_KOR")["is_delay"]
    .agg(
        total_flights="count",
        delay_count="sum",
        delay_rate="mean"
    )
    .reset_index()
    .sort_values("delay_count", ascending=False)
)

# =====================================================
# 8ï¸âƒ£ ì—‘ì…€ ì €ì¥ (ì „ì²˜ë¦¬ëœ ê²°ê³¼ë§Œ)
# =====================================================
save_path = "flight_airport_summary.xlsx"

with pd.ExcelWriter(save_path, engine="openpyxl") as writer:
    boarding_counts.to_excel(writer, sheet_name="boarding_counts", index=False)
    arrived_counts.to_excel(writer, sheet_name="arrived_counts", index=False)
    
        # âœ… ì‹ ê·œ ì¶”ê°€
    arrived_counts_24plus.to_excel(
        writer,
        sheet_name="arrived_counts_24plus",
        index=False
    )
    
    airline_counts.to_excel(writer, sheet_name="airline_counts", index=False)  # ğŸ”¹ ì¶”ê°€
    boarding_summary.to_excel(writer, sheet_name="boarding_summary", index=False)
    arrived_summary.to_excel(writer, sheet_name="arrived_summary", index=False)

print(f"\nâœ… ì—‘ì…€ ì €ì¥ ì™„ë£Œ: {save_path}")

âœ‚ï¸ ì¶œë°œì§€ í•„í„°ë§: 1500000 â†’ 1313683
âœ… BOARDING_KOR ì „ì²˜ë¦¬ ì™„ë£Œ
ì œì£¼      478130
ê¹€í¬      375396
ê¹€í•´      243947
ì²­ì£¼       62358
ëŒ€êµ¬       51161
ê´‘ì£¼       36107
ì¸ì²œ       19596
ì—¬ìˆ˜       12982
ìš¸ì‚°       10977
í¬í•­ê²½ì£¼      5701
ì‚¬ì²œ        5560
êµ°ì‚°        4454
ì›ì£¼        3825
ë¬´ì•ˆ        2915
ì–‘ì–‘         574
Name: BOARDING_KOR, dtype: int64

ğŸ“Œ ì§€ì—° ë¶„í¬
0    1301822
1      11861
Name: is_delay, dtype: int64

ğŸ“ ë„ì°©ì§€ ë¹„í–‰ íšŸìˆ˜ 24íšŒ ì´ìƒ
    ARRIVED_KOR  total_flights
0            ì œì£¼         453852
1         ì„œìš¸/ê¹€í¬         323936
2         ë¶€ì‚°/ê¹€í•´         155092
3            ì²­ì£¼          48408
4            ëŒ€êµ¬          39036
..          ...            ...
96        ë‚œí‰/ë‚œí†µ             28
97           ë¦¬ì¥             28
98           ìœ„ë¦°             27
99    ë°©ì½•/ë°©ì½•/ëˆë¯€ì•™             26
100        ë‚˜ê°€ì‚¬í‚¤             26

[101 rows x 2 columns]

âœ… ì—‘ì…€ ì €ì¥ ì™„ë£Œ: flight_airport_summary.xlsx

In [10]:
# =====================================================
# âœ… ë„ì°©ì§€ 24íšŒ ì´ìƒ ë¦¬ìŠ¤íŠ¸
# =====================================================
valid_arrived = arrived_counts_24plus["ARRIVED_KOR"].tolist()

print("âœ… í—ˆìš© ë„ì°©ì§€ ê°œìˆ˜:", len(valid_arrived))
print(valid_arrived)

âœ… í—ˆìš© ë„ì°©ì§€ ê°œìˆ˜: 101
['ì œì£¼', 'ì„œìš¸/ê¹€í¬', 'ë¶€ì‚°/ê¹€í•´', 'ì²­ì£¼', 'ëŒ€êµ¬', 'ê´‘ì£¼', 'ì˜¤ì‚¬ì¹´/ê°„ì‚¬ì´', 'ë„ì¿„/í•˜ë„¤ë‹¤', 'ì¸ì²œ', 'íƒ€ì´í˜ì´/íƒ€ì˜¤ìœ„ì•ˆ', 'ìƒí•˜ì´/í‘¸ë™', 'ì—¬ìˆ˜', 'í›„ì¿ ì˜¤ì¹´', 'ìš¸ì‚°', 'ë„ì¿„/ë‚˜ë¦¬íƒ€', 'ìƒí•˜ì´/í™ì°¨ì˜¤', 'ë‹¤ë‚­', 'ë‚˜íŠ¸ë‘', 'í¬í•­/í¬í•­ê²½ì£¼', 'ì§„ì£¼/ì‚¬ì²œ', 'êµ°ì‚°', 'ë°©ì½•/ìˆ˜ì™„ë‚˜í’ˆ', 'ë² ì´ì§•/ì„œìš°ë‘', 'í™ì½©', 'ì›ì£¼', 'ì‚¿í¬ë¡œ', 'ì„¸ë¶€', 'ì‹±ê°€í´/ì‹±ê°€í¬ë¥´', 'ì¹´ì˜¤ìŠ/ê°€ì˜¤ìŠ', 'ëŒ€ìš©/ì¥ê°€ê³„', 'ë² ì´ì§•(ì„œìš°ë‘)/ì„œìš°ë‘', 'í•˜ë…¸ì´', 'íƒ€ì´í˜ì´/ì‘¹ì‚°', 'ì²­ë„/ì¹­ë‹¤ì˜¤', 'ê´Œ', 'í˜¸ì¹˜ë¯¼/í˜¸ì°Œë¯¼', 'í´ë½í•„ë“œ/í´ë¼í¬í•„ë“œ', 'ì˜¤í‚¤ë‚˜ì™€', 'ìš¸ë€ë°”í† ë¥´/ì¹­ê¸°ìŠ¤ì¹¸', 'ë² ì´ì§•/ë‹¤ì‹±', 'ë‚œì§•(ë‚¨ê²½)/ë‚œì§•', 'í•­ì¡°ìš°/í•­ì €ìš°', 'ì—°ê¸¸/ì˜Œì§€', 'ë‚˜ê³ ì•¼/ë‚˜ê³ ì•¼/ì£¼ë¶€ì„¼íŠ¸ë ˆì•„', 'ë§ˆë‹ë¼', 'ë‚˜ê³ ì•¼/ì£¼ë¶€', 'íƒ€ê·¸ë¹Œë¼ë€/ë³´í™€(íƒë¹Œë¼ë€)', 'ì‹¬ì²œ/ì„ ì „', 'ë¬´ì•ˆ', 'ì‹¬ì–‘/ì„ ì–‘', 'í‘¸ê¼­(í‘¸êµ­)/í‘¸ê¾¸ì˜¥', 'ë‹ë³´', 'ë¹„ì—”í‹°ì•ˆ', 'ë² ì´ì§•(ë‹¤ì‹±)/ë‹¤ì‹±', 'ë§ˆì¹´ì˜¤', 'ì½”íƒ€í‚¤ë‚˜ë°œë£¨', 'ë§ˆì¦ˆì•¼ë§ˆ/ë§ˆì“°ì•¼ë§ˆ', 'ì¹˜ì•™ë§ˆì´', 'ì–‘ì–‘', 'ë‹¬ë', 'ë°©ì½•/ëˆë¯€ì•™', 'êµ¬ë§ˆëª¨ë„/êµ¬ë§ˆëª¨í† ', 'ì˜¤ì‚¬ì¹´/ì˜¤ì‚¬ì¹´/ê°„ì‚¬ì´', 'ì‹œì•ˆ', 'ë´íŒŒì‚¬ë¥´', 'ì‚°ì•¼/ì‹¼ì•¼', 'íŒ¡ë¼ì˜¤/ë³´í™€íŒ¡ë¼ì˜¤', 'ê´‘ì €ìš°', 'í‚¤íƒ€íìŠˆ', 'ì‰¬ì§€ì•„ì­ˆì•™(ì„ê°€ì¥)/ìŠ¤ìì¢¡', 'ì •ì£¼/ì •ì €ìš°', 'ë„ì¿„/ë„ì¿„/ë‚˜ë¦¬íƒ€', 'ì˜¤ë¥´ë„ìŠ¤', 'ì¿ ì•Œë¼ë£¸í‘¸ë¥´', 'í‘¸ê¼­(í‘¸êµ­)/ë‘ì˜¹ë‹¹(í‘¸?)', 'ì´ë°”ë¼í‚¤', 'í‘¸ì €ìš°', 'ë‚˜ê³ ì•¼/ì£¼ë¶€ì„¼íŠ¸ì—ì–´êµ­ì œê³µí•­', 'ë°©ì½•/ë°©ì½•/ìˆ˜ì™„ë‚˜í’ˆ', 'ëŒ€ë ¨/ë‹¤ë¡„', 'ìš°ì‹œ(ë¬´ì„)/ìš°ì‹œ', 'ì¹¼ë¦¬ë³´', 'íƒ€ì´ì­/íƒ€ì´ì¤‘/ì¹­ì´¨ê°•', 'ì˜¤ë¹„íˆë¡œ', 'í†ˆì§„', 'íˆë¡œì‹œë§ˆ', 'ì‚¬ì´íŒ', 'í‰ì¹˜/í™©ì‚°', 'ì¥ì‚¬', 'ì¥ì¶˜/ì°½ì¶˜', 'ì”¨ì•°ë¦½/ì‹œì— ë¦½ì•™ì½”ë¥´', 'íƒ€ì´ìœ ì•ˆ/íƒ€ì´ìœ„ì•ˆ', 'ì œë‚¨/ì§€ë‚œ', 'ì•„ì‚¬ì´ê¹Œì™€/ì•„ì‚¬íˆì¹´ì™€', 'ë„ì•¼ë§ˆ', 'í•˜ì–¼ë¹ˆ', 'ë‚œí‰/ë‚œí†µ', 'ë¦¬ì¥', 'ìœ„ë¦°', 'ë°©ì½•/ë°©ì½•/ëˆë¯€ì•™', 'ë‚˜ê°€ì‚¬í‚¤']

In [11]:
# =====================================================
# âœ… ìµœì¢… ë¶„ì„ìš© ë°ì´í„° í•„í„°ë§
# =====================================================
before_rows = len(df)

df_final = df[
    (df["BOARDING_KOR"].isin(df["BOARDING_KOR"].unique())) &  # ì´ë¯¸ êµ­ë‚´ë§Œ ë‚¨ì•„ ìˆìŒ
    (df["ARRIVED_KOR"].isin(valid_arrived))
].copy()

after_rows = len(df_final)

print(f"ğŸ“Š ìµœì¢… ë°ì´í„° í•„í„°ë§: {before_rows} â†’ {after_rows}")

ğŸ“Š ìµœì¢… ë°ì´í„° í•„í„°ë§: 1313683 â†’ 1313426

In [12]:
print("\nâœˆï¸ ìµœì¢… ì¶œë°œì§€ ë¶„í¬")
print(df_final["BOARDING_KOR"].value_counts())

print("\nğŸ“ ìµœì¢… ë„ì°©ì§€ ë¶„í¬")
print(df_final["ARRIVED_KOR"].value_counts())

print("\nğŸ“Œ ìµœì¢… ì§€ì—° ë¶„í¬")
print(df_final["is_delay"].value_counts())

âœˆï¸ ìµœì¢… ì¶œë°œì§€ ë¶„í¬
ì œì£¼      478106
ê¹€í¬      375344
ê¹€í•´      243865
ì²­ì£¼       62307
ëŒ€êµ¬       51151
ê´‘ì£¼       36107
ì¸ì²œ       19596
ì—¬ìˆ˜       12982
ìš¸ì‚°       10977
í¬í•­ê²½ì£¼      5701
ì‚¬ì²œ        5560
êµ°ì‚°        4454
ì›ì£¼        3825
ë¬´ì•ˆ        2877
ì–‘ì–‘         574
Name: BOARDING_KOR, dtype: int64

ğŸ“ ìµœì¢… ë„ì°©ì§€ ë¶„í¬
ì œì£¼           453852
ì„œìš¸/ê¹€í¬        323936
ë¶€ì‚°/ê¹€í•´        155092
ì²­ì£¼            48408
ëŒ€êµ¬            39036
              ...
ë‚œí‰/ë‚œí†µ            28
ë¦¬ì¥               28
ìœ„ë¦°               27
ë‚˜ê°€ì‚¬í‚¤             26
ë°©ì½•/ë°©ì½•/ëˆë¯€ì•™        26
Name: ARRIVED_KOR, Length: 101, dtype: int64

ğŸ“Œ ìµœì¢… ì§€ì—° ë¶„í¬
0    1301569
1      11857
Name: is_delay, dtype: int64

In [13]:
df_final.to_csv(
    "flight_status_final_filtered.csv",
    index=False,
    encoding="utf-8-sig"
)
print("âœ… ìµœì¢… ë¶„ì„ìš© CSV ì €ì¥ ì™„ë£Œ")

âœ… ìµœì¢… ë¶„ì„ìš© CSV ì €ì¥ ì™„ë£Œ

# ìµœì¢… ë¶„ì„ìš© CSV íŒŒì¼ 

CSV ì „ì²´
 â†“
BOARDING_KOR âˆˆ allowed_boarding_raw   â† ì—¬ê¸°ì„œ êµ­ë‚´ë§Œ ë‚¨ê¹€ (í•µì‹¬)
 â†“
ìŠ¬ë˜ì‹œ í‘œì¤€í™” (ê¹€í¬, ê¹€í•´, ì‚¬ì²œâ€¦)
 â†“
ë„ì°©ì§€ 24íšŒ ì´ìƒ í•„í„°
 â†“
ìµœì¢… ë¶„ì„ìš© df

In [14]:
import pandas as pd

df_weather = pd.read_csv(
    "airport_final.csv",
    encoding="euc-kr"
)


print("âœ… ë‚ ì”¨ CSV ë¡œë“œ ì™„ë£Œ")
print("í–‰ ìˆ˜:", len(df_weather))
print("ì»¬ëŸ¼ ìˆ˜:", df_weather.shape[1])

df_weather.head()

âœ… ë‚ ì”¨ CSV ë¡œë“œ ì™„ë£Œ
í–‰ ìˆ˜: 344003
ì»¬ëŸ¼ ìˆ˜: 28

C:\Users\Admin\AppData\Local\Temp\ipykernel_860\55525250.py:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_weather = pd.read_csv(

,ì§€ì,ì§€ì ëª…,ì¼ì‹œ,ì¼ê¸°í˜„ìƒ,1ì¸µ ìš´ëŸ‰(1/8),1ì¸µ ìš´í˜•,1ì¸µ ìš´ê³ (FT),ê¸°ì˜¨(Â°C),ì´ìŠ¬ì ì˜¨ë„(Â°C),í•´ë©´ê¸°ì••(hPa),...,ì¤‘í•˜ì¸µìš´ëŸ‰(10ë¶„ìœ„),í˜„ìƒë²ˆí˜¸(êµ­ë‚´ì‹),ì§€ë©´ì˜¨ë„(Â°C),í’ì†_ms,í’í–¥_deg,ì‹œì •_m,ì „ìš´ëŸ‰_okta,1ì¸µ ìš´ê³ (FT)_ê²°ì¸¡ì—¬ë¶€,ìš´í˜•(ìš´í˜•ì•½ì–´),ìµœì €ìš´ê³ (100m )
0,156,ê´‘ì£¼,2023-04-30 01:00:00,ì—†ìŒ,0.0,ì—†ìŒ,NaN,10.1,7.1,1012.6,...,9.0,0,11.0,1.0,NaN,2000.0,7,1.0,NaN,NaN
1,156,ê´‘ì£¼,2023-04-30 02:00:00,ì—†ìŒ,0.0,ì—†ìŒ,NaN,9.8,6.8,1012.3,...,7.0,0,9.4,1.4,NaN,2000.0,6,1.0,NaN,NaN
2,156,ê´‘ì£¼,2023-04-30 03:00:00,ì—†ìŒ,0.0,ì—†ìŒ,NaN,9.2,6.8,1012.2,...,2.0,0,8.3,0.9,NaN,2000.0,2,1.0,NaN,NaN
3,156,ê´‘ì£¼,2023-04-30 04:00:00,ì—†ìŒ,0.0,ì—†ìŒ,NaN,8.6,6.8,1012.2,...,0.0,0,7.6,0.1,NaN,2000.0,0,1.0,NaN,NaN
4,156,ê´‘ì£¼,2023-04-30 05:00:00,ì—†ìŒ,0.0,ì—†ìŒ,NaN,8.5,7.4,1012.6,...,0.0,0,6.9,0.1,NaN,2000.0,0,1.0,NaN,NaN

In [15]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344003 entries, 0 to 344002
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ì§€ì               344003 non-null  int64
 1   ì§€ì ëª…             344003 non-null  object
 2   ì¼ì‹œ              344003 non-null  object
 3   ì¼ê¸°í˜„ìƒ            321059 non-null  object
 4   1ì¸µ ìš´ëŸ‰(1/8)      321059 non-null  float64
 5   1ì¸µ ìš´í˜•           321059 non-null  object
 6   1ì¸µ ìš´ê³ (FT)       101698 non-null  float64
 7   ê¸°ì˜¨(Â°C)          343966 non-null  float64
 8   ì´ìŠ¬ì ì˜¨ë„(Â°C)       343953 non-null  float64
 9   í•´ë©´ê¸°ì••(hPa)       343956 non-null  float64
 10  í˜„ì§€ê¸°ì••(hPa)       343958 non-null  float64
 11  ê°•ìˆ˜ëŸ‰(mm)         344003 non-null  float64
 12  ìŠµë„(%)           183508 non-null  float64
 13  ì¦ê¸°ì••(hPa)        183506 non-null  float64
 14  ì¼ì¡°(hr)          344003 non-null  float64
 15  ì¼ì‚¬(MJ/m2)       344003 non-null  float64
 16  ì ì„¤(cm)          344003 non-null  float64
 17  3ì‹œê°„ì‹ ì ì„¤(cm)      344003 non-null  float64
 18  ì¤‘í•˜ì¸µìš´ëŸ‰(10ë¶„ìœ„)     182761 non-null  float64
 19  í˜„ìƒë²ˆí˜¸(êµ­ë‚´ì‹)       344003 non-null  int64
 20  ì§€ë©´ì˜¨ë„(Â°C)        183364 non-null  float64
 21  í’ì†_ms           343893 non-null  float64
 22  í’í–¥_deg          160449 non-null  float64
 23  ì‹œì •_m            312497 non-null  float64
 24  ì „ìš´ëŸ‰_okta        344003 non-null  int64
 25  1ì¸µ ìš´ê³ (FT)_ê²°ì¸¡ì—¬ë¶€  321059 non-null  float64
 26  ìš´í˜•(ìš´í˜•ì•½ì–´)        12881 non-null   object
 27  ìµœì €ìš´ê³ (100m )     12655 non-null   float64
dtypes: float64(20), int64(3), object(5)
memory usage: 73.5+ MB

In [16]:
missing_rate = (
    df_weather.isna().mean()
    .sort_values(ascending=False)
    .reset_index()
)
missing_rate.columns = ["column", "missing_rate"]

missing_rate

            column  missing_rate
0      ìµœì €ìš´ê³ (100m )      0.963213
1         ìš´í˜•(ìš´í˜•ì•½ì–´)      0.962556
2        1ì¸µ ìš´ê³ (FT)      0.704369
3           í’í–¥_deg      0.533583
4      ì¤‘í•˜ì¸µìš´ëŸ‰(10ë¶„ìœ„)      0.468723
5         ì§€ë©´ì˜¨ë„(Â°C)      0.466970
6         ì¦ê¸°ì••(hPa)      0.466557
7            ìŠµë„(%)      0.466551
8             ì‹œì •_m      0.091586
9            1ì¸µ ìš´í˜•      0.066697
10      1ì¸µ ìš´ëŸ‰(1/8)      0.066697
11  1ì¸µ ìš´ê³ (FT)_ê²°ì¸¡ì—¬ë¶€      0.066697
12            ì¼ê¸°í˜„ìƒ      0.066697
13           í’ì†_ms      0.000320
14       ì´ìŠ¬ì ì˜¨ë„(Â°C)      0.000145
15       í•´ë©´ê¸°ì••(hPa)      0.000137
16       í˜„ì§€ê¸°ì••(hPa)      0.000131
17          ê¸°ì˜¨(Â°C)      0.000108
18        ì „ìš´ëŸ‰_okta      0.000000
19              ì§€ì       0.000000
20       í˜„ìƒë²ˆí˜¸(êµ­ë‚´ì‹)      0.000000
21      3ì‹œê°„ì‹ ì ì„¤(cm)      0.000000
22          ì ì„¤(cm)      0.000000
23       ì¼ì‚¬(MJ/m2)      0.000000
24             ì§€ì ëª…      0.000000
25         ê°•ìˆ˜ëŸ‰(mm)      0.000000
26              ì¼ì‹œ      0.000000
27          ì¼ì¡°(hr)      0.000000

In [17]:
numeric_cols = df_weather.select_dtypes(include=["int64", "float64"]).columns.tolist()

print("ğŸ“Š ìˆ˜ì¹˜í˜• ì»¬ëŸ¼ ê°œìˆ˜:", len(numeric_cols))
numeric_cols

ğŸ“Š ìˆ˜ì¹˜í˜• ì»¬ëŸ¼ ê°œìˆ˜: 23

['ì§€ì ',
 '1ì¸µ ìš´ëŸ‰(1/8)',
 '1ì¸µ ìš´ê³ (FT)',
 'ê¸°ì˜¨(Â°C)',
 'ì´ìŠ¬ì ì˜¨ë„(Â°C)',
 'í•´ë©´ê¸°ì••(hPa)',
 'í˜„ì§€ê¸°ì••(hPa)',
 'ê°•ìˆ˜ëŸ‰(mm)',
 'ìŠµë„(%)',
 'ì¦ê¸°ì••(hPa)',
 'ì¼ì¡°(hr)',
 'ì¼ì‚¬(MJ/m2)',
 'ì ì„¤(cm)',
 '3ì‹œê°„ì‹ ì ì„¤(cm)',
 'ì¤‘í•˜ì¸µìš´ëŸ‰(10ë¶„ìœ„)',
 'í˜„ìƒë²ˆí˜¸(êµ­ë‚´ì‹)',
 'ì§€ë©´ì˜¨ë„(Â°C)',
 'í’ì†_ms',
 'í’í–¥_deg',
 'ì‹œì •_m',
 'ì „ìš´ëŸ‰_okta',
 '1ì¸µ ìš´ê³ (FT)_ê²°ì¸¡ì—¬ë¶€',
 'ìµœì €ìš´ê³ (100m )']

In [18]:
object_cols = df_weather.select_dtypes(include="object").columns.tolist()

object_cols

['ì§€ì ëª…', 'ì¼ì‹œ', 'ì¼ê¸°í˜„ìƒ', '1ì¸µ ìš´í˜•', 'ìš´í˜•(ìš´í˜•ì•½ì–´)']

In [19]:
# ëœë¤ ìƒ˜í”Œ 100ê°œ ì¶”ì¶œ
df_weather_sample = df_weather.sample(n=100, random_state=42)

# ì—‘ì…€ ì €ì¥
sample_path = "airport_final_sample_100.xlsx"
df_weather_sample.to_excel(sample_path, index=False)

print(f"âœ… ìƒ˜í”Œ 100ê°œ ì—‘ì…€ ì €ì¥ ì™„ë£Œ: {sample_path}")

âœ… ìƒ˜í”Œ 100ê°œ ì—‘ì…€ ì €ì¥ ì™„ë£Œ: airport_final_sample_100.xlsx

In [20]:
station_list = (
    df_weather["ì§€ì ëª…"]
    .dropna()
    .sort_values()
    .unique()
)

print("âœ… ì§€ì ëª… ê°œìˆ˜:", len(station_list))
station_list

âœ… ì§€ì ëª… ê°œìˆ˜: 15

array(['ê´‘ì£¼', 'êµ°ì‚°', 'ê¹€í¬ê³µí•­', 'ê¹€í•´ì‹œ', 'ëŒ€êµ¬', 'ë¬´ì•ˆê³µí•­', 'ì–‘ì–‘ê³µí•­', 'ì—¬ìˆ˜ê³µí•­', 'ìš¸ì‚°ê³µí•­',
       'ì›ì£¼', 'ì¸ì²œê³µí•­', 'ì œì£¼ê³µí•­', 'ì§„ì£¼', 'ì²­ì£¼', 'í¬í•­'], dtype=object)

In [21]:
# ì¶œë°œì§€ ëª©ë¡ ì¶”ì¶œ
boarding_list = (
    df["BOARDING_KOR"]
    .dropna()
    .sort_values()
    .unique()
)

print("âœ… BOARDING_KOR ê°œìˆ˜:", len(boarding_list))
boarding_list

âœ… BOARDING_KOR ê°œìˆ˜: 15

array(['ê´‘ì£¼', 'êµ°ì‚°', 'ê¹€í¬', 'ê¹€í•´', 'ëŒ€êµ¬', 'ë¬´ì•ˆ', 'ì‚¬ì²œ', 'ì–‘ì–‘', 'ì—¬ìˆ˜', 'ìš¸ì‚°', 'ì›ì£¼',
       'ì¸ì²œ', 'ì œì£¼', 'ì²­ì£¼', 'í¬í•­ê²½ì£¼'], dtype=object)

In [22]:
# weather ì§€ì ëª… â†’ BOARDING_KOR ê¸°ì¤€ìœ¼ë¡œ ë³€í™˜
weather_to_boarding_map = {
    "ê´‘ì£¼": "ê´‘ì£¼",
    "ëŒ€êµ¬" : "ëŒ€êµ¬",
    "êµ°ì‚°": "êµ°ì‚°",
    "ê¹€í¬ê³µí•­": "ê¹€í¬",
    "ê¹€í•´ì‹œ": "ê¹€í•´",
    "ë¬´ì•ˆê³µí•­": "ë¬´ì•ˆ",
    "ì–‘ì–‘ê³µí•­": "ì–‘ì–‘",
    "ì—¬ìˆ˜ê³µí•­": "ì—¬ìˆ˜",
    "ìš¸ì‚°ê³µí•­": "ìš¸ì‚°",
    "ì›ì£¼": "ì›ì£¼",
    "ì¸ì²œê³µí•­": "ì¸ì²œ",
    "ì œì£¼ê³µí•­": "ì œì£¼",
    "ì²­ì£¼": "ì²­ì£¼",
    "í¬í•­": "í¬í•­ê²½ì£¼",   # âš ï¸ í‘œê¸° ì„ íƒ
    "ì§„ì£¼": "ì‚¬ì²œ"        # âš ï¸ ë„¤ê°€ í•©ì˜í•œ í•´ì„
}

In [23]:
# âœ… ì§€ì ëª… â†’ BOARDING_KOR ìƒì„± (í•µì‹¬)
df_weather["BOARDING_KOR"] = df_weather["ì§€ì ëª…"].map(weather_to_boarding_map)

In [24]:
df["STD"].isna().sum()

0

In [25]:
# =====================================================
# STD + FLIGHT_DATE â†’ flight_datetime ìƒì„±
# =====================================================

# 1ï¸âƒ£ STD ì»¬ëŸ¼ ìƒíƒœ í™•ì¸
print("STD ì»¬ëŸ¼ ì •ë³´")
df_final["STD"].info()
print("STD ê²°ì¸¡ ê°œìˆ˜:", df["STD"].isna().sum())

# 2ï¸âƒ£ STD ì •ê·œí™” (HHMM â†’ 4ìë¦¬ ë¬¸ìì—´)
df_final["STD_clean"] = (
    df_final["STD"]
    .fillna(0)
    .astype(int)
    .astype(str)
    .str.zfill(4)
)

# 3ï¸âƒ£ flight_datetime ìƒì„± (STD ê¸°ì¤€)
df_final["flight_datetime"] = pd.to_datetime(
    df_final["FLIGHT_DATE"].astype(str) + df_final["STD_clean"],
    format="%Y%m%d%H%M",
    errors="coerce"
)

# 4ï¸âƒ£ ìƒì„± ê²°ê³¼ ê²€ì¦
print("\nNaT ê°œìˆ˜:", df_final["flight_datetime"].isna().sum())

print("\nìƒ˜í”Œ í™•ì¸")
df_final[
    ["FLIGHT_DATE", "STD", "STD_clean", "flight_datetime"]
].sample(10, random_state=42)

STD ì»¬ëŸ¼ ì •ë³´
<class 'pandas.core.series.Series'>
Int64Index: 1313426 entries, 0 to 1499999
Series name: STD
Non-Null Count    Dtype
--------------    -----
1313426 non-null  int64
dtypes: int64(1)
memory usage: 20.0 MB
STD ê²°ì¸¡ ê°œìˆ˜: 0

NaT ê°œìˆ˜: 0

ìƒ˜í”Œ í™•ì¸

         FLIGHT_DATE   STD STD_clean     flight_datetime
53629       20230604   940      0940 2023-06-04 09:40:00
78160       20230621  1205      1205 2023-06-21 12:05:00
1278525     20250801  2045      2045 2025-08-01 20:45:00
672284      20240716  1130      1130 2024-07-16 11:30:00
943962      20241225  1150      1150 2024-12-25 11:50:00
950271      20241229  1940      1940 2024-12-29 19:40:00
903587      20241130  1335      1335 2024-11-30 13:35:00
985862      20250121  1555      1555 2025-01-21 15:55:00
904330      20241201  1340      1340 2024-12-01 13:40:00
425530      20240210  1110      1110 2024-02-10 11:10:00

In [26]:
df_weather["ì¼ì‹œ"].value_counts().head(10)

2023-04-30 01:00:00    15
2025-01-26 16:00:00    15
2025-01-27 12:00:00    15
2025-01-27 11:00:00    15
2025-01-27 10:00:00    15
2025-01-27 09:00:00    15
2025-01-27 08:00:00    15
2025-01-27 07:00:00    15
2025-01-27 06:00:00    15
2025-01-27 05:00:00    15
Name: ì¼ì‹œ, dtype: int64

In [27]:
# =====================================================
# weather ì¼ì‹œ â†’ weather_datetime ìƒì„± (í•„ìˆ˜)
# =====================================================
df_weather["weather_datetime"] = pd.to_datetime(
    df_weather["ì¼ì‹œ"],
    errors="coerce"
)

In [29]:
# =====================================================
# 1ï¸âƒ£ ì •ë ¬ (í•„ìˆ˜)
# =====================================================
df_final = df_final.sort_values("flight_datetime")
df_weather = df_weather.sort_values("weather_datetime")

# =====================================================
# 2ï¸âƒ£ merge_asof
# =====================================================
df_merged = pd.merge_asof(
    df_final,
    df_weather,
    left_on="flight_datetime",
    right_on="weather_datetime",
    left_by="BOARDING_KOR",
    right_by="BOARDING_KOR",
    direction="backward"
)

In [30]:
print("ì „ì²´ flight í–‰ ìˆ˜:", len(df_merged))
print(
    "ë‚ ì”¨ ë¶™ì€ í–‰ ìˆ˜:",
    df_merged["weather_datetime"].notna().sum()
)
print(
    "ë‚ ì”¨ ë¯¸ë¶€ì°© í–‰ ìˆ˜:",
    df_merged["weather_datetime"].isna().sum()
)
print(
    "ë‚ ì”¨ ë¶€ì°© ë¹„ìœ¨:",
    df_merged["weather_datetime"].notna().mean()
)

ì „ì²´ flight í–‰ ìˆ˜: 1313426
ë‚ ì”¨ ë¶™ì€ í–‰ ìˆ˜: 1313426
ë‚ ì”¨ ë¯¸ë¶€ì°© í–‰ ìˆ˜: 0
ë‚ ì”¨ ë¶€ì°© ë¹„ìœ¨: 1.0

In [31]:
(
    df_merged
    .groupby("BOARDING_KOR")["weather_datetime"]
    .apply(lambda x: x.notna().mean())
    .sort_values()
)

BOARDING_KOR
ê´‘ì£¼      1.0
êµ°ì‚°      1.0
ê¹€í¬      1.0
ê¹€í•´      1.0
ëŒ€êµ¬      1.0
ë¬´ì•ˆ      1.0
ì‚¬ì²œ      1.0
ì–‘ì–‘      1.0
ì—¬ìˆ˜      1.0
ìš¸ì‚°      1.0
ì›ì£¼      1.0
ì¸ì²œ      1.0
ì œì£¼      1.0
ì²­ì£¼      1.0
í¬í•­ê²½ì£¼    1.0
Name: weather_datetime, dtype: float64

In [32]:
save_path = "flight_weather_merged.csv"

df_merged.to_csv(
    save_path,
    index=False,
    encoding="utf-8-sig"
)

print(f"âœ… CSV ì €ì¥ ì™„ë£Œ: {save_path}")

âœ… CSV ì €ì¥ ì™„ë£Œ: flight_weather_merged.csv