In [1]:
# import requests
# import pandas as pd
# import time

# BASE_URL = "https://api.odcloud.kr/api/FlightStatusListDTL/v1/getFlightStatusListDetail"
# SERVICE_KEY = "5d66bfa6f80f683c7d077861086e29a2c851260ad5a0ef79460431a3ccf7f814"

# PER_PAGE = 1000
# MAX_PAGE = 1500   # ì˜ˆ: ì•½ 2ë…„.

# all_rows = []

# for page in range(1, MAX_PAGE + 1):
#     params = {
#         "serviceKey": SERVICE_KEY,
#         "page": page,
#         "perPage": PER_PAGE,
#         "returnType": "JSON"
#     }

#     response = requests.get(BASE_URL, params=params)
#     response.raise_for_status()

#     json_data = response.json()
#     rows = json_data["data"]
#     all_rows.extend(rows)

#     print(f"âœ… page {page} ìˆ˜ì§‘ ì™„ë£Œ ({len(rows)}ê±´)")
#     time.sleep(0.2)  # ì„œë²„ ë°°ë ¤

# # =========================
# # ê²°ê³¼ ìš”ì•½
# # =========================
# df = pd.DataFrame(all_rows)

# print(f"\nì´ ìˆ˜ì§‘ í–‰ ìˆ˜: {len(df)}")

# # ë‚ ì§œ ì»¬ëŸ¼ ì²˜ë¦¬
# df["flight_date"] = pd.to_datetime(df["FLIGHT_DATE"], format="%Y%m%d")

# start_date = df["flight_date"].min().date()
# end_date = df["flight_date"].max().date()

# print(f"ğŸ“… ë°ì´í„° ì‹œì‘ì¼: {start_date}")
# print(f"ğŸ“… ë°ì´í„° ì¢…ë£Œì¼: {end_date}")

In [2]:
# # =========================
# # CSV ì €ì¥
# # =========================
# save_path = "flight_status_raw_20230430_20251213.csv"

# df.to_csv(save_path, index=False, encoding="utf-8-sig")

# print(f"âœ… CSV ì €ì¥ ì™„ë£Œ: {save_path}")

In [3]:
import pandas as pd

csv_path = "flight_status_final_filtered.csv"

df = pd.read_csv(csv_path)

print("âœ… CSV ë¡œë“œ ì™„ë£Œ")
print("í–‰ ìˆ˜:", len(df))
df.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_11360\1696381015.py:5: DtypeWarning: Columns (6,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_path)

âœ… CSV ë¡œë“œ ì™„ë£Œ
í–‰ ìˆ˜: 1262522

,AIRLINE_ENGLISH,AIRLINE_KOREAN,AIRPORT,AIR_FLN,ARRIVED_ENG,ARRIVED_KOR,BAGGAGE_CLAIM,BOARDING_ENG,BOARDING_KOR,CITY,...,3ì‹œê°„ì‹ ì ì„¤(cm),ì¤‘í•˜ì¸µìš´ëŸ‰(10ë¶„ìœ„),í˜„ìƒë²ˆí˜¸(êµ­ë‚´ì‹),ì§€ë©´ì˜¨ë„(Â°C),í’ì†_ms,í’í–¥_deg,ì‹œì •_m,ì „ìš´ëŸ‰_okta,1ì¸µ ìš´ê³ (FT)_ê²°ì¸¡ì—¬ë¶€,weather_datetime
0,AIR SEOUL,ì—ì–´ì„œìš¸,GMP,RS901,JEJU,ì œì£¼,NaN,GIMPO,ê¹€í¬,CJU,...,0.0,NaN,0.0,NaN,2.057776,240.0,10000.0,1.0,0.0,2023-04-30 06:00:00
1,JINAIR,ì§„ì—ì–´,GMP,LJ301,JEJU,ì œì£¼,NaN,GIMPO,ê¹€í¬,CJU,...,0.0,NaN,0.0,NaN,2.057776,240.0,10000.0,1.0,0.0,2023-04-30 06:00:00
2,ASIANA AIRLINE,ì•„ì‹œì•„ë‚˜í•­ê³µ,GMP,OZ8937,JEJU,ì œì£¼,NaN,GIMPO,ê¹€í¬,CJU,...,0.0,NaN,0.0,NaN,2.057776,240.0,10000.0,1.0,0.0,2023-04-30 06:00:00
3,EASTAR JET,ì´ìŠ¤íƒ€í•­ê³µ,GMP,ZE201,JEJU,ì œì£¼,NaN,GIMPO,ê¹€í¬,CJU,...,0.0,NaN,0.0,NaN,2.057776,240.0,10000.0,1.0,0.0,2023-04-30 06:00:00
4,JINAIR,ì§„ì—ì–´,GMP,LJ303,JEJU,ì œì£¼,NaN,GIMPO,ê¹€í¬,CJU,...,0.0,NaN,0.0,NaN,2.057776,240.0,10000.0,1.0,0.0,2023-04-30 06:00:00

In [4]:
# =====================================================
# ìƒ˜í”Œ 100í–‰ ì¶”ì¶œ (ìƒìœ„ 100í–‰)
# =====================================================
sample_df = df.head(100)

# =====================================================
# ì—‘ì…€ ì €ì¥
# =====================================================
sample_save_path = "flight_status_sample_100.xlsx"
sample_df.to_excel(sample_save_path, index=False)

print(f"âœ… ìƒ˜í”Œ 100í–‰ ì—‘ì…€ ì €ì¥ ì™„ë£Œ: {sample_save_path}")

âœ… ìƒ˜í”Œ 100í–‰ ì—‘ì…€ ì €ì¥ ì™„ë£Œ: flight_status_sample_100.xlsx

In [5]:
df["AIRLINE_KOREAN"].unique()

array(['ì—ì–´ì„œìš¸', 'ì§„ì—ì–´', 'ì•„ì‹œì•„ë‚˜í•­ê³µ', 'ì´ìŠ¤íƒ€í•­ê³µ', 'ì œì£¼í•­ê³µ', 'í‹°ì›¨ì´í•­ê³µ', 'ëŒ€í•œí•­ê³µ', 'ì—ì–´ë¶€ì‚°',
       'ë¹„ì—£ì ¯í•­ê³µ', 'ì¼ë³¸í•­ê³µ', 'í•˜ì´ì—ì–´', 'í™ì½©ìµìŠ¤í”„ë ˆìŠ¤', 'ìºì„¸ì´í¼ì‹œí”½í•­ê³µ', 'ì „ì¼ë³¸ê³µìˆ˜', 'ì—ì–´ë¡œì¼€ì´í•­ê³µ',
       'í”Œë¼ì´ê°•ì›', 'ì¤‘êµ­êµ­ì œí•­ê³µ', 'ìŠ¤ì¿ íŠ¸íƒ€ì´ê±°í•­ê³µ', 'ë² íŠ¸ë‚¨í•­ê³µ', 'ì¶˜ì¶”í•­ê³µ', 'ì¤‘êµ­ê¸¸ìƒí•­ê³µ(ì¤€ì•¼ì˜¤í•­ê³µ)',
       'ì¤‘êµ­ë™ë°©í•­ê³µ', 'ìƒí•´í•­ê³µ', 'ì¤‘êµ­ë‚¨ë°©í•­ê³µ', 'ëª½ê³¨í•­ê³µ', 'ì¤‘í™”í•­ê³µ', 'íƒ€ì´ê±°ì—ì–´ íƒ€ì´ì™„', 'í•„ë¦¬í•€í•­ê³µ',
       'ë¡œì–„ì—ì–´í•„ë¦¬í•€', 'ì—ì–´ì•„ì‹œì•„ì—‘ìŠ¤', 'í¼ì‹œí”½í•­ê³µ', 'ì—ë°”í•­ê³µ(ì¥ì˜í•­ê³µ)', 'ì‚¬ì²œí•­ê³µ', 'ì´ì¦ˆë‹ˆìŠ¤í•­ê³µ',
       'í›ˆëˆ„í•­ê³µ', 'ë£½ì—ì–´', 'ìŠ¤íƒ€í”Œë¼ì´ì–´í•­ê³µ', 'ì—ì–´ë¡œ ëª½ê³¨ë¦¬ì•„', 'í”„ë‘ìŠ¤í•­ê³µ', 'ë¸íƒ€í•­ê³µ',
       'ê¸¸ìƒí•­ê³µ(ì¤€ì•¼ì˜¤)', 'ì‹±ê°€í¬ë¥´í•­ê³µ', 'í•„ë¦¬í•€ì—ì–´ì•„ì‹œì•„', nan, 'ìŠ¤ì¿ íŠ¸ í•­ê³µ', 'ë¼ì˜¤í•­ê³µ', 'ë²°ë¶€í•­ê³µ',
       'ë¹„ì—£íŠ¸ë˜ë¸”í•­ê³µ', 'ì•Œì´íƒˆë¦¬ì•„í•­ê³µ', 'ì‚¬ìš°ë””í•­ê³µ', 'ì„œë¶€í•­ê³µ', 'ë„¤ëœë€ë“œí•­ê³µ', 'í•˜ì™€ì´ì•ˆí•­ê³µ',
       'ë¶ê²½ìˆ˜ë„í•­ê³µ', 'ìŠ¤ì¹´ì´ì•™ì½”ë¥´í•­ê³µ', 'í˜ë±ìŠ¤í™”ë¬¼í•­ê³µ', 'í•˜ë¬¸í•­ê³µ', 'ê·¸ë ˆì´í„°ë² ì´í•­ê³µ', 'ì¥ì‹œí•­ê³µ',
       'ì¤‘êµ­ì‹¬ì²œí•­ê³µ', 'ëŸ­í‚¤í•­ê³µ', 'ë¹„í‹°ì—˜í•­ê³µ', 'ì¤‘êµ­ì—°í•©í•­ê³µ', 'ë£¨ì¼ë¦¬í•­ê³µ', 'ì¹­ë‹¤ì˜¤í•­ê³µ', 'ì˜¤ì¼€ì´í•­ê³µ',
       'ì›í†µí™”ë¬¼í•­ê³µ', 'ì ¯ìŠ¤íƒ€ ì—ì–´ì›¨ì´ì¦ˆ', 'ë§ë¦°ë„í•­ê³µ', 'ì²œì§„í•­ê³µ', 'ë™í•˜ì´í•­ê³µ', 'ì¸ë„í•­ê³µ', 'ìº„ë³´ë””ì•„í•­ê³µ',
       'ì•„ì—ë¡œë©•ì‹œì½”', 'ITAí•­ê³µ', 'ì—ë°”í•­ê³µ', 'ì—ì–´ì¸ì²œ', 'í”¼ì¹˜í•­ê³µ', 'ì¹´ë†‹ìƒ¤í¬í•­ê³µ', 'ì„¸ë¶€í¼ì‹œí”½í•­ê³µ',
       'ì—ì–´ì•„ìŠ¤íƒ€ë‚˜í•­ê³µ', 'ì—ì–´ìºë‚˜ë‹¤', 'íŒŒë¼íƒ€í•­ê³µ', 'ê°€ë£¨ë‹¤ì¸ë„ë„¤ì‹œì•„'], dtype=object)

In [6]:
df["AIRLINE_KOREAN"].value_counts()

ì•„ì‹œì•„ë‚˜í•­ê³µ       255041
ëŒ€í•œí•­ê³µ         244966
ì œì£¼í•­ê³µ         157849
ì§„ì—ì–´          153502
ì—ì–´ë¶€ì‚°         123371
              ...
í•„ë¦¬í•€ì—ì–´ì•„ì‹œì•„          1
ì•„ì—ë¡œë©•ì‹œì½”            1
ì—ì–´ì•„ìŠ¤íƒ€ë‚˜í•­ê³µ          1
ì ¯ìŠ¤íƒ€ ì—ì–´ì›¨ì´ì¦ˆ         1
ì´ì¦ˆë‹ˆìŠ¤í•­ê³µ            1
Name: AIRLINE_KOREAN, Length: 83, dtype: int64

In [7]:
df["RMK_KOR"].value_counts()

ì¶œë°œ          698258
ë„ì°©          526517
ê²°í•­           10687
ì§€ì—°             589
íšŒí•­             336
ìˆ˜ì†ì¤‘            289
íƒ‘ìŠ¹ì¤‘            285
íƒ‘ìŠ¹ì¥ ì…ì¥         154
íƒ‘ìŠ¹ìµœì¢…            44
íƒ‘ìŠ¹êµ¬ ë³€ê²½          21
ë§ˆê°ì˜ˆì •            13
ìˆ˜í•˜ë¬¼ íˆ¬ì… ì¤‘         8
ìˆ˜ì†ì¤‘ë‹¨             7
ë¯¸ì •               4
ì‚¬ì „ê²°í•­             1
Name: RMK_KOR, dtype: int64

In [8]:
#íƒ€ê²Ÿ ë³€ìˆ˜(is_delay) ìƒì„±
def make_delay_label(x):
    if pd.isna(x):
        return 0
    if any(k in x for k in ["ì§€ì—°", "ê²°í•­", "íšŒí•­"]):
        return 1
    return 0

df["is_delay"] = df["RMK_KOR"].apply(make_delay_label)

In [9]:
df["is_delay"].value_counts()

0    1250909
1      11613
Name: is_delay, dtype: int64

In [10]:
boarding_list = (
    df["BOARDING_KOR"]
    .dropna()
    .sort_values()
    .unique()
)

len(boarding_list), boarding_list

(14,
 array(['ê´‘ì£¼', 'êµ°ì‚°', 'ê¹€í¬', 'ê¹€í•´', 'ë¬´ì•ˆ', 'ì‚¬ì²œ', 'ì–‘ì–‘', 'ì—¬ìˆ˜', 'ìš¸ì‚°', 'ì›ì£¼', 'ì¸ì²œ',
        'ì œì£¼', 'ì²­ì£¼', 'í¬í•­ê²½ì£¼'], dtype=object))

In [11]:
boarding_counts = (
    df["BOARDING_KOR"]
    .value_counts(dropna=False)
    .reset_index()
)

boarding_counts.columns = ["BOARDING_KOR", "count"]
boarding_counts

   BOARDING_KOR   count
0            ì œì£¼  478130
1            ê¹€í¬  375396
2            ê¹€í•´  243947
3            ì²­ì£¼   62358
4            ê´‘ì£¼   36107
5            ì¸ì²œ   19596
6            ì—¬ìˆ˜   12982
7            ìš¸ì‚°   10977
8          í¬í•­ê²½ì£¼    5701
9            ì‚¬ì²œ    5560
10           êµ°ì‚°    4454
11           ì›ì£¼    3825
12           ë¬´ì•ˆ    2915
13           ì–‘ì–‘     574

In [12]:
boarding_counts.head(50)

   BOARDING_KOR   count
0            ì œì£¼  478130
1            ê¹€í¬  375396
2            ê¹€í•´  243947
3            ì²­ì£¼   62358
4            ê´‘ì£¼   36107
5            ì¸ì²œ   19596
6            ì—¬ìˆ˜   12982
7            ìš¸ì‚°   10977
8          í¬í•­ê²½ì£¼    5701
9            ì‚¬ì²œ    5560
10           êµ°ì‚°    4454
11           ì›ì£¼    3825
12           ë¬´ì•ˆ    2915
13           ì–‘ì–‘     574

In [13]:
boarding_counts.tail(50)

   BOARDING_KOR   count
0            ì œì£¼  478130
1            ê¹€í¬  375396
2            ê¹€í•´  243947
3            ì²­ì£¼   62358
4            ê´‘ì£¼   36107
5            ì¸ì²œ   19596
6            ì—¬ìˆ˜   12982
7            ìš¸ì‚°   10977
8          í¬í•­ê²½ì£¼    5701
9            ì‚¬ì²œ    5560
10           êµ°ì‚°    4454
11           ì›ì£¼    3825
12           ë¬´ì•ˆ    2915
13           ì–‘ì–‘     574

In [14]:
arrived_list = (
    df["ARRIVED_KOR"]
    .dropna()
    .sort_values()
    .unique()
)

len(arrived_list), arrived_list

(149,
 array(['ê°€ê³ ì‹œë§ˆ', 'ê³„ë¦¼/êµ¬ì´ë¦°', 'ê³ ë² /ê³ ë² ê³µí•­', 'ê´Œ', 'ê´‘ì €ìš°', 'ê´‘ì£¼', 'êµ¬ë§ˆëª¨ë„/êµ¬ë§ˆëª¨í† ', 'êµ¬ì´ì–‘',
        'êµ°ì‚°', 'ê¸°íƒ€', 'ë‚˜ê°€ì‚¬í‚¤', 'ë‚˜ê³ ì•¼', 'ë‚˜ê³ ì•¼/ë‚˜ê³ ì•¼/ì£¼ë¶€ì„¼íŠ¸ë ˆì•„', 'ë‚˜ê³ ì•¼/ì£¼ë¶€',
        'ë‚˜ê³ ì•¼/ì£¼ë¶€ì„¼íŠ¸ì—ì–´êµ­ì œê³µí•­', 'ë‚˜íŠ¸ë‘', 'ë‚œì§•(ë‚¨ê²½)/ë‚œì§•', 'ë‚œì°½', 'ë‚œí‰/ë‚œí†µ', 'ë‰´ì–´í¬', 'ë‹ë³´',
        'ë‹¤ë‚­', 'ë‹¬ë', 'ëŒ€êµ¬', 'ëŒ€ë ¨/ë‹¤ë¡„', 'ëŒ€ìš©/ì¥ê°€ê³„', 'ë´íŒŒì‚¬ë¥´', 'ë¸ë¦¬', 'ë„ì•¼ë§ˆ', 'ë„ì¿„/ë‚˜ë¦¬íƒ€',
        'ë„ì¿„/ë„ì¿„/ë‚˜ë¦¬íƒ€', 'ë„ì¿„/í•˜ë„¤ë‹¤', 'ë„ì¿ ì‹œë§ˆ', 'ë‘ë°”ì´', 'ë¼ì´í”„ì¹˜íˆ', 'ëŸ°ë˜/ëŸ°ë˜/íˆë“œë¡œ',
        'ë¡œìŠ¤ì•¤ì ¤ë ˆìŠ¤', 'ë£¨ì•™í”„ë¼ë°©/ë£¨ì•™í”„ë¼ë°©', 'ë¦¬ì˜¹/ë¦¬ì˜¹-ì‚¬í† ë¼ìŠ¤', 'ë¦¬ì¥', 'ë§ˆë‹ë¼', 'ë§ˆì¦ˆì•¼ë§ˆ/ë§ˆì“°ì•¼ë§ˆ',
        'ë§ˆì¯”ëª¨í† /ë§ˆì“°ëª¨ë˜', 'ë§ˆì¹´ì˜¤', 'ë§ˆì¿µ/ë§ˆê³µ', 'ëª¨ë¦¬ì˜¤ì¹´/í•˜ë‚˜ë§ˆí‚¤', 'ëª¬í…Œë ˆì´', 'ë¬´ë£½', 'ë¬´ì•ˆ',
        'ë­„ë°”ì´', 'ë°€ë¼ë…¸', 'ë°©ì½•/ëˆë¯€ì•™', 'ë°©ì½•/ë°©ì½•/ëˆë¯€ì•™', 'ë°©ì½•/ë°©ì½•/ìˆ˜ì™„ë‚˜í’ˆ', 'ë°©ì½•/ìˆ˜ì™„ë‚˜í’ˆ',
        'ë±…ê°ˆë¡œ/ë°©ê°ˆë¡œë¥´', 'ë² ì´ì§•(ë‹¤ì‹±)/ë‹¤ì‹±', 'ë² ì´ì§•(ì„œìš°ë‘)/ì„œìš°ë‘', 'ë² ì´ì§•/ë‹¤ì‹±', 'ë² ì´ì§•/ì„œìš°ë‘',
        'ë¶€ì‚°/ê¹€í•´', 'ë¸Œë¼í‹°ìŠ¬ë¼ë°”', 'ë¹„ì—”í‹°ì•ˆ', 'ì‚¬ì´íŒ', 'ì‚°ì•¼/ì‹¼ì•¼', 'ì‚¿í¬ë¡œ', 'ìƒí•˜ì´/í‘¸ë™',
        'ìƒí•˜ì´/í™ì°¨ì˜¤', 'ìƒŒí˜¸ì„¸/ì‚°í˜¸ì„¸', 'ì„œìš¸/ê¹€í¬', 'ì„¸ë¶€', 'ì‰¬ì§€ì•„ì­ˆì•™(ì„ê°€ì¥)/ìŠ¤ìì¢¡', 'ì‹œì•ˆ', 'ì‹œì• í‹€',
        'ì‹¬ì–‘/ì„ ì–‘', 'ì‹¬ì²œ/ì„ ì „', 'ì‹±ê°€í´/ì‹±ê°€í¬ë¥´', 'ì”¨ì•°ë¦½/ì‹œì— ë¦½', 'ì”¨ì•°ë¦½/ì‹œì— ë¦½ì•™ì½”ë¥´', 'ì•„ë¶€ë‹¤ë¹„',
        'ì•„ì‚¬ì´ê¹Œì™€/ì•„ì‚¬íˆì¹´ì™€', 'ì•Œë§ˆí‹°', 'ì•µì»¤ë¦¬ì§€', 'ì–‘ì–‘', 'ì—¬ìˆ˜', 'ì—°ê¸¸/ì˜Œì§€', 'ì˜¤ë¥´ë„ìŠ¤', 'ì˜¤ë¹„íˆë¡œ',
        'ì˜¤ì‚¬ì¹´/ê°„ì‚¬ì´', 'ì˜¤ì‚¬ì¹´/ì˜¤ì‚¬ì¹´/ê°„ì‚¬ì´', 'ì˜¤í‚¤ë‚˜ì™€', 'ìš°ì‹œ(ë¬´ì„)/ìš°ì‹œ', 'ìš¸ë€ë°”í† ë¥´',
        'ìš¸ë€ë°”í† ë¥´/ì¹­ê¸°ìŠ¤ì¹¸', 'ìš¸ì‚°', 'ì›ì£¼', 'ìœ„ë¦°', 'ì´ë°”ë¼í‚¤', 'ì´ìŠ¤íƒ„ë¶ˆ', 'ì¸ì²œ', 'ì¥ì‚¬',
        'ì¥ì¶˜/ì°½ì¶˜', 'ì •ì£¼/ì •ì €ìš°', 'ì œë‚¨/ì§€ë‚œ', 'ì œë„¤ë°”', 'ì œë²¨ì•Œë¦¬ì•Œë§‰íˆ¼/ë‘ë°”ì´/ì•Œë§‰íˆ¼', 'ì œì£¼',
        'ì œì£¼/ì œë™', 'ì§„ì£¼/ì‚¬ì²œ', 'ì²­ë„/ì¹­ë‹¤ì˜¤', 'ì²­ë‘', 'ì²­ì£¼', 'ì¹˜ì•™ë§ˆì´', 'ì¹´ì˜¤ìŠ/ê°€ì˜¤ìŠ',
        'ì¹´í‹°í´ë€/ê³ ë„í”„ë ˆë„P.ë¼ëª¨ìŠ¤', 'ì¹¼ë¦¬ë³´', 'ìº˜ê±°ë¦¬', 'ì½”íƒ€í‚¤ë‚˜ë°œë£¨', 'ì¿ ì•Œë¼ë£¸í‘¸ë¥´', 'í´ë½í•„ë“œ/í´ë¼í¬í•„ë“œ',
        'í‚¤íƒ€íìŠˆ', 'íƒ€ê·¸ë¹Œë¼ë€/ë³´í™€(íƒë¹Œë¼ë€)', 'íƒ€ì‰¬ì¼„íŠ¸/íƒ€ìŠˆì¼„íŠ¸', 'íƒ€ìŠˆì¼„íŠ¸', 'íƒ€ì´ìœ ì•ˆ/íƒ€ì´ìœ„ì•ˆ',
        'íƒ€ì´ì­/íƒ€ì´ì¤‘/ì¹­ì´¨ê°•', 'íƒ€ì´í˜ì´/ì‘¹ì‚°', 'íƒ€ì´í˜ì´/íƒ€ì˜¤ìœ„ì•ˆ', 'íƒœì•ˆ/íƒœì•ˆë¹„í–‰ì¥', 'í†ˆì§„', 'í† ë¡ í† ',
        'í‰ì¹˜/í™©ì‚°', 'íŒŒë¦¬/ë¥´ë¶€ì•„ì œ', 'íŒ”ë ˆë¥´ëª¨/íŒ”ì½”ë„¤ë³´ë¥´ì…€ë¦¬ë…¸', 'íŒ¡ë¼ì˜¤/ë³´í™€íŒ¡ë¼ì˜¤', 'í¬íŠ¸ì›ŒìŠ¤/ì–¼ë¼ì´ì–¸ìŠ¤í¬íŠ¸ì›ŒìŠ¤',
        'í¬í•­/í¬í•­ê²½ì£¼', 'í‘¸ê¼­(í‘¸êµ­)/ë‘ì˜¹ë‹¹(í‘¸?)', 'í‘¸ê¼­(í‘¸êµ­)/í‘¸ê¾¸ì˜¥', 'í‘¸ì €ìš°', 'í”„ë†ˆíœ', 'í”„ë‘í¬í‘¸ë¥´íŠ¸',
        'í•˜ë…¸ì´', 'í•˜ì–¼ë¹ˆ', 'í•­ì¡°ìš°/í•­ì €ìš°', 'í˜¸ì¹˜ë¯¼/í˜¸ì°Œë¯¼', 'í™ì½©', 'í›„ì¿ ì˜¤ì¹´', 'íˆë¡œì‹œë§ˆ'],
       dtype=object))

In [15]:
arrived_counts = (
    df["ARRIVED_KOR"]
    .value_counts(dropna=False)
    .reset_index()
)

arrived_counts.columns = ["ARRIVED_KOR", "count"]
arrived_counts

         ARRIVED_KOR   count
0                 ì œì£¼  419272
1              ì„œìš¸/ê¹€í¬  323931
2              ë¶€ì‚°/ê¹€í•´  155073
3                 ì²­ì£¼   48406
4                 ëŒ€êµ¬   39019
..               ...     ...
145              ë°€ë¼ë…¸       1
146       ë¦¬ì˜¹/ë¦¬ì˜¹-ì‚¬í† ë¼ìŠ¤       1
147  ì œë²¨ì•Œë¦¬ì•Œë§‰íˆ¼/ë‘ë°”ì´/ì•Œë§‰íˆ¼       1
148              ë­„ë°”ì´       1
149              ì œë„¤ë°”       1

[150 rows x 2 columns]

In [16]:
# ìƒìœ„ 20ê°œ ë„ì°©ì§€
arrived_counts.head(20)

   ARRIVED_KOR   count
0           ì œì£¼  419272
1        ì„œìš¸/ê¹€í¬  323931
2        ë¶€ì‚°/ê¹€í•´  155073
3           ì²­ì£¼   48406
4           ëŒ€êµ¬   39019
5           ê´‘ì£¼   36142
6       ë„ì¿„/í•˜ë„¤ë‹¤   22836
7      ì˜¤ì‚¬ì¹´/ê°„ì‚¬ì´   21835
8           ì¸ì²œ   18149
9       ìƒí•˜ì´/í‘¸ë™   13983
10   íƒ€ì´í˜ì´/íƒ€ì˜¤ìœ„ì•ˆ   13392
11          ì—¬ìˆ˜   12971
12          ìš¸ì‚°   10990
13        í›„ì¿ ì˜¤ì¹´   10108
14      ë„ì¿„/ë‚˜ë¦¬íƒ€    9869
15     ìƒí•˜ì´/í™ì°¨ì˜¤    9325
16          ë‹¤ë‚­    6819
17     í¬í•­/í¬í•­ê²½ì£¼    5694
18       ì§„ì£¼/ì‚¬ì²œ    5549
19         ë‚˜íŠ¸ë‘    5524

In [17]:
# í•˜ìœ„ 20ê°œ ë„ì°©ì§€ (í¬ê·€)
arrived_counts.tail(20)

         ARRIVED_KOR  count
130    íŒ”ë ˆë¥´ëª¨/íŒ”ì½”ë„¤ë³´ë¥´ì…€ë¦¬ë…¸      1
131         íƒœì•ˆ/íƒœì•ˆë¹„í–‰ì¥      1
132          íŒŒë¦¬/ë¥´ë¶€ì•„ì œ      1
133             ì•µì»¤ë¦¬ì§€      1
134   í¬íŠ¸ì›ŒìŠ¤/ì–¼ë¼ì´ì–¸ìŠ¤í¬íŠ¸ì›ŒìŠ¤      1
135           ë¸Œë¼í‹°ìŠ¬ë¼ë°”      1
136            ë¼ì´í”„ì¹˜íˆ      1
137             ì´ìŠ¤íƒ„ë¶ˆ      1
138               ë¸ë¦¬      1
139           í”„ë‘í¬í‘¸ë¥´íŠ¸      1
140         ë±…ê°ˆë¡œ/ë°©ê°ˆë¡œë¥´      1
141               ê¸°íƒ€      1
142              ë‘ë°”ì´      1
143             ëª¬í…Œë ˆì´      1
144              ìº˜ê±°ë¦¬      1
145              ë°€ë¼ë…¸      1
146       ë¦¬ì˜¹/ë¦¬ì˜¹-ì‚¬í† ë¼ìŠ¤      1
147  ì œë²¨ì•Œë¦¬ì•Œë§‰íˆ¼/ë‘ë°”ì´/ì•Œë§‰íˆ¼      1
148              ë­„ë°”ì´      1
149              ì œë„¤ë°”      1

In [18]:
# ë‚ ì§œ íŒŒìƒ
df["flight_date"] = pd.to_datetime(df["FLIGHT_DATE"], format="%Y%m%d")
df["weekday"] = df["flight_date"].dt.weekday
df["month"] = df["flight_date"].dt.month

# ì‹œê°„ íŒŒìƒ
df["STD"] = df["STD"].astype(str)
df["hour"] = df["STD"].str.zfill(4).str[:2].astype(int)

In [19]:
#train / test ë¶„ë¦¬ (ë‚ ì§œ ê¸°ì¤€)

# ë‚ ì§œ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬ (ê°€ì¥ ì¤‘ìš”)
df = df.sort_values("flight_date")

# ìƒìœ„ 80% ë‚ ì§œë¥¼ í•™ìŠµìš©, ë‚˜ë¨¸ì§€ 20%ë¥¼ í…ŒìŠ¤íŠ¸ìš©ìœ¼ë¡œ ì‚¬ìš©
split_date = df["flight_date"].quantile(0.8)

# í•™ìŠµ ë°ì´í„° (ê³¼ê±°)
train_df = df[df["flight_date"] <= split_date]

# í…ŒìŠ¤íŠ¸ ë°ì´í„° (ìµœê·¼)
test_df = df[df["flight_date"] > split_date]

In [20]:
# ìˆ˜ì¹˜í˜• ë³€ìˆ˜ â†” ì¢…ì†ë³€ìˆ˜ ìƒê´€ê´€ê³„ (Point-Biserial)

from scipy.stats import pointbiserialr

num_cols = ["weekday", "month", "hour"]

corr_results = []

for col in num_cols:
    corr, pval = pointbiserialr(train_df[col], train_df["is_delay"])
    corr_results.append({
        "feature": col,
        "corr": corr,
        "abs_corr": abs(corr),
        "p_value": pval
    })

corr_df = pd.DataFrame(corr_results).sort_values("abs_corr", ascending=False)
corr_df

   feature      corr  abs_corr        p_value
2     hour  0.043756  0.043756   0.000000e+00
1    month -0.031009  0.031009  1.933736e-213
0  weekday -0.003084  0.003084   1.933041e-03

In [21]:
#ë²”ì£¼í˜• ë³€ìˆ˜ â†” ì¢…ì†ë³€ìˆ˜ (Chi-square ê²€ì •)

from scipy.stats import chi2_contingency

cat_cols = [
    "AIRLINE_KOREAN",
    "BOARDING_KOR",
    "ARRIVED_KOR",
    "LINE",
    "IO"
]

chi_results = []

for col in cat_cols:
    contingency = pd.crosstab(train_df[col], train_df["is_delay"])
    chi2, p, _, _ = chi2_contingency(contingency)

    chi_results.append({
        "feature": col,
        "chi2": chi2,
        "p_value": p
    })

chi_df = pd.DataFrame(chi_results).sort_values("chi2", ascending=False)
chi_df

          feature         chi2        p_value
2     ARRIVED_KOR  3495.042770   0.000000e+00
1    BOARDING_KOR  2921.059564   0.000000e+00
0  AIRLINE_KOREAN  2311.449680   0.000000e+00
3            LINE   651.865682  8.777342e-144
4              IO   238.725957   7.456014e-54

In [22]:
# ë…ë¦½ë³€ìˆ˜(X) / ì¢…ì†ë³€ìˆ˜(y) ë¶„ë¦¬

X_columns = [
    "weekday", "month", "hour",
    "AIRLINE_KOREAN", "BOARDING_KOR", "ARRIVED_KOR",
    "LINE", "IO"
]

X_train = train_df[X_columns]
y_train = train_df["is_delay"]

X_test = test_df[X_columns]
y_test = test_df["is_delay"]

In [23]:
# ì†Œìˆ˜ í´ë˜ìŠ¤(1)ì— ë” í° ê°€ì¤‘ì¹˜ ë¶€ì—¬ (í´ë˜ìŠ¤ ë¶ˆê· í˜• ëŒ€ì‘)
class_weight = {0: 1, 1: 70}

In [24]:
#ì›í•«ì¸ì½”ë”©
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# ë²”ì£¼í˜• / ìˆ˜ì¹˜í˜• ë¶„ë¦¬
cat_cols = [
    "AIRLINE_KOREAN",
    "BOARDING_KOR",
    "ARRIVED_KOR",
    "LINE",
    "IO"
]

num_cols = ["weekday", "month", "hour"]

# ë²”ì£¼í˜• â†’ ì›í•« ì¸ì½”ë”©
# ìˆ˜ì¹˜í˜• â†’ ê·¸ëŒ€ë¡œ ì‚¬ìš©
preprocessor = ColumnTransformer(
    transformers=[
        ("cat", OneHotEncoder(handle_unknown="ignore"), cat_cols),
        ("num", "passthrough", num_cols)
    ]
)

In [25]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression

#ëª¨ë¸ ì •ì˜ & í•™ìŠµ
model = Pipeline([
    ("prep", preprocessor),  # ì „ì²˜ë¦¬
    ("clf", LogisticRegression(
        max_iter=5000,
        class_weight=class_weight
    ))
])

In [ ]:
# í•™ìŠµ ì‹¤í–‰
model.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import classification_report, roc_auc_score

# ìµœì¢… ë¶„ë¥˜ ê²°ê³¼
y_pred = model.predict(X_test)

# ì˜ˆì¸¡ í™•ë¥  (ë¬¸ì œì¼ í™•ë¥ )
y_prob = model.predict_proba(X_test)[:, 1]

print(classification_report(y_test, y_pred))
print("ROC-AUC:", roc_auc_score(y_test, y_prob))

In [ ]:
from sklearn.metrics import average_precision_score

pr_auc = average_precision_score(y_test, y_prob)
print("PR-AUC:", pr_auc)

In [ ]:
# Threshold ì‹¤í—˜
for t in [0.3, 0.4, 0.5, 0.6, 0.7, 0.8]:
    y_pred_t = (y_prob >= t).astype(int)
    print(f"\n===== Threshold = {t} =====")
    print(classification_report(y_test, y_pred_t))